:root{
    --backgroundColor2: #ffffff;
    --backgroundColor1: #1F2022;
    --columnColor: #34323516;
    --mainColor: #19C7FA;
    --mainColorLessOpcity: #19c5fa81; 
    --textColor2: black;
    --textColor1: white;
    --objectColor: white;
}

/* -----------------------------------------------------------------------------------
---------------------------------World Selectors/Classes <Start>
-------------------------------------------------------------------------------------- */

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: 'Amiri', serif;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: var(--backgroundColor1);
    color: var(--textColor1);
    overflow-x: hidden;
}

ul{
    list-style: none;
}

h1{
    font-size: 26px;
    text-transform: uppercase;
}
h2{
    font-size: 22px;
    text-transform: uppercase;
}
h3{
    font-size: 18px;
    text-transform: uppercase;
}
h4{
    font-size: 14px;
    text-transform: capitalize;
}
h5{
    font-size: 10px;
    text-transform: uppercase;
}

p{
    font-size: 12px;
    text-align: center;

}

/* MediaQureiy */
@media screen and (max-width: 726px) {

    h2{
        font-size: 18px;
    }
    p{
        font-size: 10px;
    }

}


.Container{
    display: block;
    margin: 0 auto;
    width: 75vw;
    height: 100%;
}
@media screen and (min-width: 868px) {
    .Container{
        width: 750px;
    }
}
@media screen and (min-width: 1092px) {
    .Container{
        width: 970px;
    }
}
@media screen and (min-width: 1300px) {
    .Container{
        width: 1170px;
    }
}



.Theme2{
    background-color: var(--backgroundColor2);
    color: var(--textColor2);
}

/* -----------Display Class <Start>----------- */

.DisplayFlexColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.DisplayFlexRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.DisplayGrid{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
/* -----------Display Class <End>----------- */
.FullHeight{
    height: 100%;
}
/* -----------------Styling object<Start>------------------- */

/* Under Title Style */
.StylingDash{
    position: relative;
    font-weight: 500;
    margin-bottom: 35px;
}

.StylingDash:before{
    content: "";
    position: absolute;
    display: block;
    height: 0px;
    width: 100px;
    border: solid 1px var(--backgroundColor1);
    border-radius: 20%;
    left: 50%;
    top: 130%;
    transform: translate(-50%,-50%);
}
.StylingDash:after{
    content: "";
    position: absolute;
    background-color: var(--backgroundColor2);
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: solid 1px var(--backgroundColor1);
    left: 45%;
    top: 40px;
}

/* Blue Button Style */
.BlueButton{
    height: 40px;
    width: 142px;
    text-transform: uppercase;
    background-color: var(--mainColor);
    color: var(--textColor1);
    box-shadow: none;
    border: none;
    cursor: pointer;
}

/* Arrow Style */

.Arrow span{
    position: absolute;
    height: 15px;
    width: 15px;
    border: solid 2px transparent;
    transform: rotate(45deg);
    top: 45%;
    cursor: pointer;
}
.Arrow .left{
    border-bottom-color: var(--objectColor);
    border-left-color: var(--objectColor);
    left: 25px;
}
.Arrow .right{
    border-top-color: var(--objectColor);
    border-right-color: var(--objectColor);
    right: 25px;
}

/* Cycle Style */

.Cycle span{
    position: absolute;
    height: 13px;
    width: 13px;
    border: solid 2px var(--objectColor);
    border-radius: 50%;
    right: 49%;
    top: 90%;
    cursor: pointer;
}
.Cycle span:first-child{
    right: calc(49% + 20px);
}
.Cycle span:last-child{
    right: calc(49% - 20px);
}

/* @media screen and (max-width: 726px) {
    .Cycle span{
        top: 90%;
    }
} */

/* Hover */
.HoverColor{
    transition: all 1s;
}
.HoverColor:hover{
    cursor: pointer;
    color: var(--mainColor);
}

.HoverBackgroundColor{
    transition: all 1s;
}
.HoverBackgroundColor:hover{
    cursor: pointer;
    background-color: var(--mainColor);
}

.HoverOpacity{
    cursor: pointer;
    transition: all 1s;
}
.HoverOpacity:hover{
    opacity: 0.8;
}

/* -----------------Styling object<End>------------------- */

/* -----------------------------------------------------------------------------------
---------------------------------World Selectors/Classes <End>
-------------------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------------
---------------------------------Background Lines <Start>
-------------------------------------------------------------------------------------- */


.Lines{
    position: absolute;
    display: none;
    width: 100%;
    pointer-events: none;
}
.Lines .Container{
    height: 1000%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
}
.Lines .Container span{
    background-color: var(--columnColor);
    z-index: 2;
}

/* MediaQureiy */
@media screen and (max-width: 726px) {
    .Lines .Container{
        height: 1385%;;
    }
}

/* -----------------------------------------------------------------------------------
---------------------------------Background Lines <End>
-------------------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------------
---------------------------------NAV <Start>
-------------------------------------------------------------------------------------- */

nav{
    height: 80px;
}
nav .Container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px rgba(255, 255, 255, 0.282);
}

nav ul{
    display: flex;
    align-items: center;
    gap: 15px;
}
nav ul li{
    display: flex;
    align-items: center;
    height: 100%;
    transition: all;
    transition-duration: 1s;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    font-weight: 600;
}

nav ul li:hover{
    color: var(--mainColor);
    border-bottom: 3px solid var(--mainColor);
}

nav .Search{
    display: flex;
    align-items: center;
}

nav i{
    font-size: 20px;
    cursor: pointer;
}
.Logo img{
    height: 60px;
    width: 130px;
    margin: 9px 0px;
    cursor: pointer;
}

@media screen and (max-width: 820px) {
    .Navigation{
        display: none;
    }
}

/* -----------------------------------------------------------------------------------
---------------------------------NAV <End>
-------------------------------------------------------------------------------------- */


/* -----------------------------------------------------------------------------------
---------------------------------Main/FirstSection <Start>
-------------------------------------------------------------------------------------- */


main{
    height: 95vh;
    width: 100%;
    position: relative;
}


.introduce{
    position: absolute;
    width: 480px;
    height: 200px;
    margin-left: 50px;
    top: 30%;
    background-color: var(--mainColorLessOpcity);
    padding: 30px;
}
.introduce:before{
    content: "";
    position: absolute;
    top: -.5px;
    right: 100%;
    width: 100%;
    height: 100%;
    background-color: var(--mainColorLessOpcity);
    z-index: -2;
}

/* Font */

.introduce h2{
    font-weight: 400;
    margin-bottom: 8px;
}
.introduce p{
    text-align: start;
}

/* MediaQureiy */
@media screen and (max-width: 726px) {
    main{
        height: 90vh;
    }

    .introduce{
        width: 100vw;
        top: 22%;
        padding: 30px 18%;
        right: 0;
        text-align: center;
    }
    .introduce:before{
        display: none;
    }
    .introduce p{
        text-align: center;
    }
}
@media screen and (max-width: 400px) {
    .introduce{
        height: 250px;
    }
}

/* -----------------------------------------------------------------------------------
---------------------------------Main/FirstSection <End>
-------------------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------------
---------------------------------Services/SecondSection <Start>
-------------------------------------------------------------------------------------- */



.Services{
    min-height: 80vh;
    padding-bottom: 8%;
}

.Services .Container{
    padding-top: 80px;
}

.Services .text{
    height: 70px;
    justify-content: space-between;
    margin-bottom: 50px;
}

.Services .fields{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 45px;
}

.Services .fields .slid{
    column-gap: 80px;
}

/* Font */
.Services .text h1{
    position: relative;
    font-weight: 500;
    margin-bottom: 25px;
}

.Services .fields .slid .slidText h2{
    color: var(--mainColor);
    font-weight: 400;
    margin-bottom: 10px;
}
.Services .fields i{
    height: 100%;
    font-size: 45px;
    color: var(--mainColor);
}

/* MediaQureiy */

@media screen and (max-width: 768px) {
    .Services .fields{
        grid-template-columns: 1fr;
    }
    .Services .fields i{
        height: unset;
    }
}

@media screen and (max-width: 726px) {
    .Services{
        padding: 40px 0px 60px ;
    }
}



/* -----------------------------------------------------------------------------------
---------------------------------Services/SecondSection <End>
-------------------------------------------------------------------------------------- */



/* -----------------------------------------------------------------------------------
---------------------------------ThirdSection <Start>
-------------------------------------------------------------------------------------- */


.ThirdSection{
    position: relative;
    height: 50vh;
}

.textAD{
    position: absolute;
    width: 400px;
    height: 250px;
    padding: 30px;
    margin-left: 45%;
    top: 15%;
    background-color: var(--mainColorLessOpcity);
}
.textAD:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 100%;
    top: 0px;
    background-color: var(--mainColorLessOpcity);
    z-index: 1;
}

.ThirdSection .textAD ul li{
    display: flex;
    margin: 15px 0px;
    column-gap: 25px;
}

/* Font */

.textAD h2{
    margin-bottom: 25px;
}

/* MediaQureiy */

@media screen and (max-width: 768px) {
    .textAD{
        width: 100vw;
        right: 0;
        padding-left: 15%;
    }
    .textAD:before{
        display: none;
    }
}


/* -----------------------------------------------------------------------------------
---------------------------------ThirdSection <End>
-------------------------------------------------------------------------------------- */


/* -----------------------------------------------------------------------------------
---------------------------------Portfolio/ForthSection <Start>
-------------------------------------------------------------------------------------- */

.Portfolio{
    height: 120vh;
    width: 100%;
}

/* -------------Fisrt/TextPart<Start>------------ */
.Portfolio .TextSection{
    height: 35%;
    width: 100%;
    padding-top: 50px;
}



/* .Portfolio .StylingDash:before{
    left: 25px;
    top: 46px;
}
 */


.Portfolio .TextSection ul{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    cursor: pointer;
}
.Portfolio .TextSection ul li{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 450px) {
    .Portfolio .TextSection ul li{
        font-size: 11px;
        font-weight: 600;
    }
}
.Portfolio .TextSection ul li:first-child{
    height: 40px;
    width: 60px;
    background-color: var(--mainColor);
    color: var(--textColor1);
}

/* Font */

.Portfolio .TextSection p{
    height: 50px;
    margin-bottom: 75px;
}

/* -------------Fisrt/TextPart<End>------------ */


/* -------------Image/SecondPart<Start>------------ */
.ImageSection .black{
    background-color: var(--backgroundColor1);
}
.ImageSection .white{
    background-color: var(--backgroundColor2);
}

.ImageSection{
    display: grid;
    min-height: 51%;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    position: relative;

}

.ImageSection::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #2c282e4c;
}

.ImageSection .addedImage:nth-child(2){
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
}

.ImageSection .addedImage .imageTitle{
    width: 100%;
    padding: 10px 20px 30px;
    background-color: var(--backgroundColor2);
    z-index: 2;
}

@media screen and (max-width: 400px) {
    .ImageSection .addedImage .imageTitle{
        padding: 10px 20px;
    }
}

/* Font */
.imageTitle h3{
    text-transform: capitalize;
    font-weight: 600;

}
.imageTitle p{
    text-transform: capitalize;
    color: var(--mainColor);
}



.addButton{
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-80%);
    background-color: var(--mainColor);
    z-index: 1;
    cursor: pointer;
}
.addButton::before{
    content: "";
    position: absolute;
    width: 50px;
    height: 0px;
    border: solid 3px transparent;
    border-bottom-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
}
.addButton::after{
    content: "";
    position: absolute;
    width: 0px;
    height: 50px;
    border: solid 3px transparent;
    border-right-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-54%,-50%);
    z-index: 3;
}

.imageTitle p{
    text-align: start;
}

/* -------------Image/SecondPart<End>------------ */

/* -------------Bottom/ThirdPart<Start>------------ */
.BottomSection{
    height: 14%;
    width: 100%;
}
.BottomSection .Container{
    padding-bottom: 30px;
}
/* -------------Bottom/ThirdPart<End>------------ */


/* MediaQureiy */

@media screen and (max-width: 768px) {
    .Portfolio .TextSection ul{
        margin-bottom: 20px;
    }
    .Portfolio{
        height: 200vh;
    }
    .Portfolio .TextSection{
        height: 20%;
    }
    .ImageSection{
        height: 70%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4,1fr);
        gap: 15px;
        padding: 15px;
        
    }
    .Portfolio .BottomSection{
        height: 10%;
    }
}

/* -----------------------------------------------------------------------------------
---------------------------------Portfolio/ForthSection <End>
-------------------------------------------------------------------------------------- */


/* -----------------------------------------------------------------------------------
---------------------------------Video/FivthSection <Start>
-------------------------------------------------------------------------------------- */


.VideoSection{
    height: 100vh;
    width: 100%;
    position: relative;
}

.VideoSection .textArea{
    width: 100vw;
    height: 250px;
    justify-content: space-evenly;
    color: var(--textColor1);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--mainColor);
}

/* Font */
.VideoSection .textArea h2{
    text-transform: uppercase;
    font-weight: 600;

}

.VideoSection .textArea button{
    height: 40px;
    width: 150px;
    background-color: var(--backgroundColor1);
    color: var(--textColor1);
    border-color: transparent;
    text-transform: uppercase;
    
}

/* MediaQureiy */

@media screen and (max-width: 768px) {
    .VideoSection{
        height: 60vh;
    }
}

/* -----------------------------------------------------------------------------------
---------------------------------Video/FivthSection <End>
-------------------------------------------------------------------------------------- */



/* -----------------------------------------------------------------------------------
---------------------------------About/FivthSection <Start>
-------------------------------------------------------------------------------------- */


.AboutSection{
    height: 80vh;
    width: 100%;
}

.AboutSection .textArea{
    height: 50%;
    width: 100%;
}


/* .AboutSection .StylingDash:before{
    left: 18px;
} */

.AboutSection .imageSection{
    height: 50%;
    width: 100%;
}

/* Font */

/* MediaQureiy */

@media screen and (max-width: 768px) {

}
/* -----------------------------------------------------------------------------------
---------------------------------About/FivthSection <End>
-------------------------------------------------------------------------------------- */


/* -----------------------------------------------------------------------------------
---------------------------------SeventhSection <Start>
-------------------------------------------------------------------------------------- */


.SeventhSection{
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
}
.SeventhSection .Container{
    height: 50%;
    justify-content: space-around;
    background-color: var(--mainColor);   
}

.SeventhSection .Counter{
    row-gap: 7px;
}

.SeventhSection .Counter h1{
    font-size: 36px;
}

@media screen and (max-width: 400px) {
    .SeventhSection .Counter h1{
        font-size: 33px;
    }
}

.SeventhSection .hexIcon{
    height: 70px;
    width: 50px;
}

.SeventhSection .hexIcon span:first-child{
    display: block;
    border-bottom: solid 15px black;
    border-right: solid 26px transparent;
    border-left: solid 26px transparent;
}

.SeventhSection .hexIcon span:nth-child(2){
    height: 30px;
    width:  52px;
    background-color: black;
    z-index: 100;
}
.SeventhSection .hexIcon span:last-child{
    display: block;
    border-top: solid 15px black;
    border-right: solid 26px transparent;
    border-left: solid 26px transparent;
}
.SeventhSection .hexIcon span i{
    color: var(--textColor1);
}

/* MediaQureiy */

@media screen and (max-width: 768px) {
    .SeventhSection{
        height: 70vh;
    }
    .SeventhSection .Container{
        height: 75%;
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px 0px;
    }
}

/* -----------------------------------------------------------------------------------
---------------------------------SeventhSection <End>
-------------------------------------------------------------------------------------- */



/* -----------------------------------------------------------------------------------
---------------------------------EighthSection <Start>
-------------------------------------------------------------------------------------- */



.EighthSection{
    height: 100vh;
    width: 100%;
}
.EighthSection .Container{
    column-gap: 80px;
    padding: 0px 15px;
}

/* -------------TextArea/firstPart<Start>------------ */
.EighthSection .textArea p{
    width: 250px;
}
.EighthSection .textArea h1{
    margin-bottom: 10px;
}
.EighthSection .textArea{
    height: 30%;
    width: 100%;
    text-align: center;
}

/* -------------TextArea/firstPart<End>------------ */

/* -------------LeftPart<Start>------------ */
.LeftSection{
    width: 50%;
    height: 80%;
}

.personsSection{
    position: relative;
    height: 70%;
    width: 100%;
    justify-content: space-around;
}
.person{
    height: 40%;
    grid-template-columns: 1fr 3fr;
}
.personIcon{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: var(--backgroundColor1);
}
.personText{
    border: solid 2px transparent;
    border-bottom: var(--backgroundColor1);
}
/* Font */
.personText p{
    font-weight: 600;
    text-align: start;
}
.personText h5{
    font-weight: 400;
}

.personsSection .Cycle span{
    border-color: var(--textColor2);
}
/* -------------LeftPart<End>------------ */

/* -------------RightPart<Start>------------ */
.RightSection{
    width: 50%;
    height: 80%;
}

.statesSection{
    height: 70%;
    width: 100%;
}
.statesSection .state{
    width: 100%;
    align-items: flex-start;
    margin-bottom: 15px;
}
.statesSection .state h3{
    text-transform: uppercase; 
    /*  */
}
.statesSection .state .loadBar{
    width: 100%;
    height: 40px;
    background-color: var(--mainColor);
}
/* -------------RightPart<End>------------ */


/* MediaQureiy */

@media screen and (max-width: 768px) {
    .EighthSection{
        height: 160vh;
    }
    .EighthSection .Container{
        column-gap: 0px;
        row-gap: 20px;
        flex-direction: column;
    }
    
    .LeftSection{
        width: 100%;
        height: 50%;
    }
    .RightSection{
        width: 100%;
        height: 50%;

    }
    .EighthSection .textArea{
        height: 25%;
    }
    .personsSection{
        height: 75%;
    }
    .statesSection{
        height: 75%;
    }
}


/* -----------------------------------------------------------------------------------
---------------------------------EighthSection <End>
-------------------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------------
---------------------------------NinthSection <Start>
-------------------------------------------------------------------------------------- */

.NinthSection{
    height: 40vh;
    width: 100%;
    column-rule: var(--textColor1);
}
/* Font */
.NinthSection h1{
    font-weight: 600;
    width: 60%;
    margin-bottom: 20px;
    text-align: center;
}
.NinthSection h4{
    font-size: 13px;
    text-transform: capitalize;
}

/* MediaQureiy */

@media screen and (max-width: 768px) {
    .NinthSection{
        height: 30vh;
    }
    .NinthSection h1{
        font-size: 16px;
    }
    
}

/* -----------------------------------------------------------------------------------
---------------------------------NinthSection <End>
-------------------------------------------------------------------------------------- */


/* -----------------------------------------------------------------------------------
---------------------------------Price/TenthSection <Start>
-------------------------------------------------------------------------------------- */


.PriceSection{
    height: 120vh;
}


.PriceSection .textArea{
    position: relative;
    height: 15%;
    width: 100%;
    margin-bottom: 70px;
    padding-top: 40px;
}
/* .PriceSection .StylingDash:before{
    left: -8px;
} */

/* -------------Subscribe/FirstPart<Start>------------ */
.subscribeSection{
    height: 55%;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
}

.subscribeDetail{
    height: 95%;
    width: 100%;
    border: solid 2px transparent;
    border-top-color: var(--mainColor);
    border-bottom-color: var(--mainColor);
    margin-bottom: 30px;
}
@media screen and (max-width: 400px) {
    .subscribeDetail{
        margin-bottom: 20px;
    }
}
.subscribeDetail h2{
    font-weight: 400;
}

.price{
    height: 40%;
    width: 100%;
    border: solid 2px transparent;
    border-bottom-color: var(--mainColor);
    margin-bottom: 7px;
}
.price h2{
    text-transform: capitalize;
}
.price h2:first-child{
    margin-bottom: 7px;
}

.price span{
    font-size: 36px;
    font-weight: 600;
}
@media screen and (max-width: 400px) {
    .price span{
        font-size: 33px;
    }
}
.features{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
.features h3{
    text-transform: capitalize;
    font-weight: 400;
    width: 130px;
    border: solid 2px transparent;
    border-bottom-color: var(--mainColor);
    text-align: center;
    box-sizing: content-box;
    padding-bottom: 15px;
}


.features h3:last-child{
    border-bottom-color: transparent;
}

.subscribe button{
    height: 60px;
    width: 70%;
    background-color: transparent;
    border: solid 2px var(--mainColor);
    text-transform: capitalize;
    text-align: center;
}


/* -------------Subscribe/FirstPart<End>------------ */

/* -------------BottomText/SecondPart<Start>------------ */
.PriceSection .bottomText{
    height: 30%;
    width: 100%;
    text-align: center;
}
.PriceSection .bottomText h2{
    font-weight: 400;
    margin-bottom: 20px;
    text-transform: none;
}
/* -------------BottomText/SecondPart<End>------------ */

/* MediaQureiy */

@media screen and (max-width: 768px) {
    .PriceSection{
        height: 290vh;
    }
    .PriceSection .textArea{
        height: 10%;
    }
    .subscribeSection{
        height: 80%;
        grid-template-columns: 1fr;
        align-items: unset;
        gap: 30px;
    }
    .PriceSection .bottomText{
        height: 10%;
    }
}

/* -----------------------------------------------------------------------------------
---------------------------------Price/TenthSection <End>
-------------------------------------------------------------------------------------- */


/* -----------------------------------------------------------------------------------
---------------------------------ElventhSection <Start>
-------------------------------------------------------------------------------------- */

.ElventhSection{
    height: 30vh;
    width: 100%;
}

.ElventhSection .Container{
    height: 60px;
    grid-template-columns: 7fr 5fr;
}
.ElventhSection .BlueButton{
    height: 100%;
}


.emailBox{
    border: solid 1px var(--textColor1);
    justify-content: space-between;
    height: 60px;
}
.emailBox .leftSide{
    margin-left: 15px;
}
.emailBox h4{
    text-transform: uppercase;
}

.ElventhSection .Container p{
    padding-right: 30px;
}

/* MediaQureiy */

@media screen and (max-width: 768px) {
    .ElventhSection{
        height: 40vh;
    }
    .ElventhSection .Container{
        height: 80%;
        grid-template-columns: none;
    }
}

/* -----------------------------------------------------------------------------------
---------------------------------ElventhSection <End>
-------------------------------------------------------------------------------------- */



/* -----------------------------------------------------------------------------------
---------------------------------Contact/TwelfthSection <Start>
-------------------------------------------------------------------------------------- */

.ContactSection{
    height: 100vh;
    width: 100%;
}
.ContactSection .Container{
    height: 80%;
}

.ContactSection .textArea{
    height: 30%;
    position: relative;
    width: 100%;
}


.formSection{
    width: 100%;
    height: 100%;

}
.form{
    height: 70%;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 60px;
}

.inputInformation{
    height: 100%;
    width: 58%;
    justify-content: flex-start;
}
.inputInformation textarea{
    width: 100%;
    height: 15%;
    padding: 7px 12px;
    border: solid 2px rgba(0, 0, 0, 0.464);
    margin-bottom: 7.5%;
    resize: none;
    white-space: nowrap;
    text-transform: capitalize;
    color: var(--textColor2);

}
.inputInformation textarea:focus{
    border: solid 2px var(--mainColor);
    box-shadow: none;
}

.inputInformation textarea:last-child{
    height: 60%;
    margin-bottom: 0px;
}

.contactInformation{
    height: 100%;
    width: 15%;
    justify-content: flex-start;
}

.contactInformation h3 {
    margin-bottom: 25px;
    font-weight: 700;
    text-transform: lowercase;
}

.information{
    height: 50%;
}

.ContactSection .BlueButton{
    height: 60px;
}

/* MediaQureiy */

@media screen and (max-width: 768px) {

    .ContactSection .textArea{
        text-align: center;
    }
    .form{
        width: 90%;
    }
    .inputInformation{
        width: 100%;
    }
    .contactInformation{
        display: none;
    }
}


/* -----------------------------------------------------------------------------------
---------------------------------Contact/TwelfthSection <End>
-------------------------------------------------------------------------------------- */


/* -----------------------------------------------------------------------------------
---------------------------------FooterSection <Start>
-------------------------------------------------------------------------------------- */

footer{
    height: 60vh;
    width: 100%;
}
footer img{
    height: 60px;
    width: 160px;
}

.logo{
    margin-bottom: 30px;
}
.social{
    width: 40%;
}


footer .icons{
    justify-content: space-around;
    width: 40%;
    margin-top: 15px;
}
footer h2{
    padding: 18px 25px;
    border: solid 2px transparent;
    border-bottom-color: var(--textColor1);
    width: 50%;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 400;
}

@media screen and (max-width: 400px) {
    footer h2{
        padding: 0px 25px 13px;
    }
}

.copyRight{
    margin-top: 50px;
    text-transform: lowercase;
}

.changeColor{
    color: var(--mainColor);
}


/* MediaQureiy */

@media screen and (max-width: 768px) {
    footer{
        height: 40vh;
    }
    .logo{
        margin-bottom: 15px;
    }
    .social{
        width: 100%;
    }
    footer h1{
        padding: 0px 0px 20px;
    }
    footer .icons{
        width: 45%;
    }

    .copyRight{
        margin-top: 25px;
    }
}


/* -----------------------------------------------------------------------------------
---------------------------------FooterSection <End>
-------------------------------------------------------------------------------------- */
