
:root{
    --font_primary: 'Lato', sans-serif;
    --font_secondary: 'Josefin Sans', sans-serif;
    --font_third:  'Whisper', cursive;  
    --Primary-color:  #00bdaa;  
    --Secondry-color:  white;
    --Third-color:   #161616;
    --Padding1:       15px;
}






/*--------------------------------------------------
*-------------------- < Direct&Wide Rules/Commands
----------------------------------------------------*/


*{
    margin: 0;
    padding: 0;
}

html{
    font-family: var(--font_secondary);
}



.Contianer{
    margin: auto;
    padding-left: var(--Padding1);
    padding-right: var(--Padding1);
     width: 92%;
}

@media screen and (min-width: 945px) {
    .Contianer{
        width: 870px;
    }
}
@media screen and (min-width: 1000px) {
    .Contianer{
        width: 950px;
    } 
}


hr{
    color: rgba(0, 0, 0, 0.450);
}


h1{
    text-transform: uppercase;
    font-size: 2.7rem;
    font-weight: 700;
    padding-top: 25px;
    margin-bottom: 15px;
}

@media screen and (max-width: 650px) {
    
    h1{
        font-size: 1.8rem;
    }
}
@media screen and (max-width: 450px) {
    h1{
        font-size: 1.3rem;
    }
}


p{
    font-family: var(--font_primary);
    font-size: 1rem;
    margin-top: 20px;  
    margin-bottom: 10px; 
    color: #b9b9b8;
    line-height: 2;
     
}


/*--------Animation-------------//Start//---------*/

.Icons-ChangeColor a , .Icons-ChangeColor i{

    transition: all 0.4s 0.1s;

}
.Icons-ChangeColor:hover{
    color: var(--Primary-color);
}

.Icons-ChangeColor i:hover{
    color: var(--Primary-color);
}


/*--------Animation-------------//End//---------*/


/*--------------------------------------------------
*-------------------- <  CommonElements   //Start//
----------------------------------------------------*/

.Links-Decoration{
    text-decoration: none;
    color: var(--Primary-color);
    font-weight: 600;
    transition: all 0.2s;
}
.Links-Decoration:hover{
    text-decoration: underline;
    
}


/*--------------------------------------------------
*-------------------- <  CommonElements     //End//
----------------------------------------------------*/



/*--------------------------------------------------
*-------------------- End for World Command />
----------------------------------------------------*/








/*--------------------------------------------------
*-------------------- <  SectionsDesign  //Start//
----------------------------------------------------*/




/*--------------------------------------------------
*-------------------- <  NAV Section    //End//
----------------------------------------------------*/

/*--------Bar Elements-------------//Start//---------*/

nav{
    height: 80px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    position: fixed;
    border: solid 1px transparent;
    border-bottom-color: rgba(0, 0, 0, 0.450);
    background-color: var(--Secondry-color);
    z-index: 100;
}

.Fake_nav{ 
    height: 80px;
    width: 100%;
    
}

nav .Contianer{
        display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;

}


nav .Contianer ul{ /**/
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 33px;
    position: relative;
    top: -5px;
}

.Menu{
    display: none;
    flex-direction: column;
    gap: 5px;
    position: relative;
    cursor: pointer;
}
.Menu span{
    width: 20px;
    height: 2px;
    background-color: var(--Third-color);
}


/*--------Bar Elements-------------//End//---------*/

/*--------Bar Addition feature-----//Start//-------*/





nav .Contianer .Nav li:nth-child(4){
    position: relative;
}

nav .Contianer .Nav li:nth-child(4)::before {
    content: "";
    position: absolute;
    height: 6px;
    width: 6px;
    border: solid 1px ;
    border-color: transparent var(--Third-color) var(--Third-color) transparent;
    right: -15px;
    top: 3px;
    rotate: 45deg;
}

/* nav .Contianer .Nav li:nth-child(4)::after{
    content: "";
    position: absolute;
    background-color: var(--Secondry-color);
    height: 400%;
    width: 150%;
    top: 50px;
    left: -19%;
    z-index: 6;
} */

nav .Contianer .Nav li:nth-child(5)::before {
    content: "";
    position: absolute;
    height: 6px;
    width: 6px;
    border: solid 1px ;
    border-color: transparent var(--Third-color) var(--Third-color) transparent;
    right: -15px;
    top: 3px;
    rotate: 45deg;
}

nav .Logo h6{
    cursor: pointer;
}

nav .Logo h6::after{
    content: "";
    position: absolute;
    border: var(--Primary-color)  solid 2px;
    border-bottom-color: transparent;
    height: 11px;
    width: 55px;
    right: 120px;
    top: -18px;

    
}
nav .Logo h6::before{
    content: "";
    position: absolute;
    border: var(--Primary-color)  solid 2px;
    border-top-color: transparent;
    height: 11px;
    width: 55px;
    right: 120px;
    top: 22px;

    
}


nav .Logo h6 span{
    color: var(--Secondry-color);
    position: relative;
    left: 3px;

    
}
nav .Logo h6 span::before{
    content: "";
    position: absolute;
    height: 46px;
    width: 46px;
    border-radius: 50%;
    top: -12px;
    right: -6px;
    background-color: var(--Primary-color);
    z-index: -1;
}


/*--------Bar Addition feature-----//end//-------*/


/*--------Sub-Menu-----//Start//-------*/

.SubMenu{
    display: none;
    position: absolute;
    height: 400%;
    width: 170%;
    top: 241%;
    left: -30%;
    background-color: var(--Secondry-color);
    z-index: 6;
    padding: 15%;
    box-sizing: border-box;         

}
.SubMenu:before{
    content: "";
    position: absolute;
    z-index: 5;
    height: 2px;
    width: 100%;
    background-color: var(--Primary-color);
    top: 0;
    left: 0;
}


nav .Contianer .Nav li:nth-child(5) .SubMenu{
    width: 21%;
    left: 83%;
    padding: 1%;
}
 
nav .Contianer .SubMenu ul{
    flex-direction: column;
    text-align: center;
    gap: 25px;
    top: 0;
    
}

nav .Contianer .SubMenu ul h5{
    font-size: 1rem;
}

nav .Contianer .Nav li .SubMenu  ul li:nth-child(1) a {
    color: var(--Third-color);
}
nav .Contianer .Nav li .SubMenu  ul li:nth-child(1) a:hover{
    color: var(--Primary-color);
} 

/*--------Sub-Menu-----//End//-------*/



/*--------About Fonts&Icons------//Start//-------*/

nav .Logo h6 span{
    font-family: var(--font_third);
    font-weight: bold;
}

nav .Logo h6 {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 400;
    position: relative;

}


nav h5{
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 550;
}

.Social i{
    color: var(--Third-color);
    font-size: 1.7rem;
    margin: 0 7px;
    position: relative;
}

nav a{
    color: var(--Third-color);
    text-decoration: none;
}

/*--------About Fonts&Icons------//End//-------*/

/*--------Media Queries--------//Start//-------*/


  /*---DON'T DELETED That!!!---*/

@media screen and (max-width: 945px) {


/*--------Un/Display Elements------//Start//-------*/

    nav .Nav{
    display: none;
    position: absolute;
    flex-direction: column;
    height: 100vh;
    width: 45vw;
    right: -1px;
    top: 0;
    background-color: white;
    }
    nav .Contianer ul{
        top: 10%;
        flex-direction: column;
        height: 90vh;
        right: -8%;
    }

    nav .Social{
        display: none;
        position: absolute;
        right: 32vw;
        height: 100vh;
        width: 10vw;
        top: 0;
        flex-direction: row;
        align-items: end;    
        justify-content: space-between;
    }
    .Social i{
        top: -15px;
    }

    nav h5 {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .Menu{
        display: flex;
    }

/*--------Un/Display Elements------//End//-------*/

/*--------Edit Elements------//Start//-------*/

    nav{
    height: 60px;
    } 
    nav .Contianer{
    align-items: flex-start;
    }
    .Fake_nav{  
        height: 60px;
    }
/*--------Edit Elements------//End//---------*/

/*--------Fonts&RE-size------//Start//-------*/

    nav .Logo h6 {
        font-size: 0.8rem;
        text-transform: uppercase;
        font-weight: 400;
        position: relative;
    
    }
    
    
    nav .Logo h6::after{
        border: var(--Primary-color)  solid 1px;
        width: 40px;
        right: 80px;
        top: -17px;
        border-bottom-color: transparent;

    }
    
    nav .Logo h6::before{
        border: var(--Primary-color)  solid 1px;
        border-top-color: transparent;
        width: 40px;
        right: 80px;
        top: 14px;
        
    }
    

    nav .Logo h6 span{
        font-size: 0.8rem;   
    }

    nav .Logo h6 span::before{
        height: 35px;
        width: 35px;
        border-radius: 50%;
        top: -12px;
        right: -6px;
    }
    
/*--------Fonts&RE-size------//End//-------*/


}

/*--------Media Queries--------//End//---------*/

/*--------------------------------------------------
*-------------------- <  NAV Section    //End//
----------------------------------------------------*/





/*--------------------------------------------------
*-------------------- <  TheLandingTitleSection  //Start//
----------------------------------------------------*/



/*--------TheLandingTitle--------//Start//---------*/

.FristSection h3{
    text-transform: uppercase;
    font-size: 3.4rem;
    text-align: center;
    padding:  4.2% 0 0;
    line-height: 1.2; 
}

.FristSection h3 + p{
    color: black;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .FristSection h3{
        font-size: 2rem;
        padding: 3.6% 0;
    }
}

@media screen and (max-width: 750px) {
    .FristSection h3{
        font-size: 2.3rem;
    }
}

/*--------TheLandingTitle--------//End//---------*/




/*--------------------------------------------------
*-------------------- <  TheLandingTitleSection    //End//
----------------------------------------------------*/



/*--------------------------------------------------
*-------------------- < The Fifth section   //Start//
----------------------------------------------------*/

/*--------ImportantElement--------//Start//---------*/


.FifthSection{
    background-color: var(--Third-color);
    color: var(--Secondry-color);
    width: 100%;


}

.ImportantSection{
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
.ImportantSection .Image > img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.ImportantSection .Detail{
    margin-left: 45px;
    display: flex;
    flex-direction: column;

}

.SpecialHR{
    margin: 35px 0;
}

.InformationSection{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 57px;
}
.InformationSection .Information:nth-child(2),
 .InformationSection .Information:nth-child(3){
     position: relative;
     right: 25px;
 }

 .Detail p+hr{
     margin: 25px 0;
 }

/*--------ImportantElement--------//End//---------*/

/*--------MediaQuerie for ImportantElement--------//Start//---------*/


 @media screen and (max-width: 1000px) {

    .InformationSection{
        gap: 120px;
    }
    
    .ImportantSection{
        grid-template-columns: 1fr;
    }

    .ImportantSection .Image > img{
        display: block;
        margin: auto;
        width: 80%;
    }
    .ImportantSection .Detail{
        margin-top: 45px;
        margin-left: 0;
    }
}

@media screen and (max-width: 500px) {

    .InformationSection{
        gap: 50px;
    }
}

/*--------MediaQuerie for ImportantElement--------//End//---------*/


/*--------FontsFeature--------//Start//---------*/


 .FifthSection h3{
    
    font-weight: 600;
     
 }

 .FifthSection h4{

    color: #b9b9b8;
    text-transform: capitalize;
    font-size: 1.1rem;
 }

 .ImportantSection a{
    color: var(--Primary-color);
    height: 45px;
    width: 180px;
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
    border: solid var(--Primary-color) 2px;
    text-decoration: none;
    margin-top: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 /*--------FontsFeature--------//End//---------*/




/*--------------------------------------------------
*-------------------- < The Fifth section   //End//
----------------------------------------------------*/





/*--------------------------------------------------
*-------------------- < The Footer section   //Start//
----------------------------------------------------*/
footer{
    background-color: var(--Third-color);
    color: var(--Secondry-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 80px;

}

footer h3{
    margin: 25px 0;
    font-size: 1.6rem;
    text-transform: uppercase;
    
}

footer hr{
    margin: 30px 0;
}

footer .Links a{
    font-size: 2.2rem;
}

.Links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer i{
    font-size: 2.3rem;
    margin: 0 25px;
    color: var(--Secondry-color);

}

@media screen and (max-width: 780px) {
    .Links{
        flex-direction: column;
        gap: 10px
    }
}

@media screen and (max-width: 390px) {
    footer .Links a{
        font-size: 1.6rem;
    }
    footer h3{
        font-size: 1.2rem;
    }
}

/*--------------------------------------------------
*-------------------- < The Footer section   //End//
----------------------------------------------------*/







/*--------------------------------------------------
*-------------------- <  Section  //ENd//
----------------------------------------------------*/







