
:root{

    --mainColor: #ff4b27;
    --secondColor: #eeeeee;
    --thirdColor: white;
    --textColor: black;
    --buttonTextColor: white;
    --borderRadius: 20px;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--thirdColor);
    color: var(--textColor);
}


.Container{
    width: 80vw;
    margin: 0 auto;
}
@media screen and (min-width: 1000px) {
    .Container{
        width: 65vw;
    }
}


.inputTask{/****/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 100%;
    margin: 90px 0 30px;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: var(--secondColor); 
    border-radius: var(--borderRadius);

}

.inputText{
    height: 54px;
    width: 85%; 
    border: none; 
    margin: 0px 15px;
    border-radius: var(--borderRadius);
    font-size: 18px;
    background-color: var(--thirdColor);
    color: var(--textColor);
}

.submitText{
    width: 80px;
    height: 60px;
    font-weight: bold;
    background-color: var(--mainColor);
    border: none;
    color: var(--buttonTextColor);
    border-radius: var(--borderRadius);
    transition: all 0.2s;
    cursor: pointer;
}

.submitText:hover{
    opacity: 0.90;
}

.taskShower{/****/
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    padding: 30px 10px; 
    box-sizing: border-box;
    background-color: var(--secondColor);
    border-radius: var(--borderRadius);
}

.taskContent{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    width: 88%; 
    background-color: var(--thirdColor); 
    padding: 10px 20px; 
    align-items: center; 
    margin: 20px auto 0;
    border-radius: var(--borderRadius);
}





.taskContent button{
    height: 50px; 
    width: 60px; 
    font-weight: bold; 
    background-color: var(--mainColor);
    border: none;border-radius: 15%; 
    color: var(--buttonTextColor);
    border-radius: calc(var(--borderRadius) - 5px);
    transition: all 0.2s;
    cursor: pointer;
}

.taskContent button:hover{
    opacity: 0.90;
}



.colorSwitch{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 70px;
    width: fit-content;
    padding: 3px 25px;
    background-color: var(--secondColor);
    border-radius: calc(var(--borderRadius) - 10px);
}

.colorR{
    height: 40px;
    width: 40px;
    margin: 0px 10px;
    border-radius: calc(var(--borderRadius) - 15px);
    cursor: pointer;
    opacity: 0.6;
    border: solid 2px transparent;

}

.MainTheme{
    background-color: #ff4b27;
}
.SecondTheme{
    background-color: #003B46;
}
.ThirdTheme{
    background-color: #379683;
}
.ForthTheme{
    background-color: #66fcf1;
}
.FivthTheme{
    background-color: #86c232;
}


.SelectedColorI{
    border: solid 1px blue;
    opacity: 1;
}


.clearDiv{
    position: absolute;
    top: 90px;
    left: 0px;
}

.clearButton{
    height: 45px;
    width: 45px;
    background-color: var(--mainColor);
    border: solid 2px transparent;
    border-bottom-right-radius: var(--borderRadius);
    border-top-right-radius: var(--borderRadius);
    font-weight: 600;
    color: var(--buttonTextColor);
    cursor: pointer;
}