
:root{

    --mainColor: #ff4b27;
    --secondColor: #eeeeee;
    --thirdColor: white;
    --textColor: black;
    --buttonTextColor: white;
    --borderRadius: 20px;

    --arrowLeft: -32px;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--thirdColor);
    color: var(--textColor);
}


.Container{
    width: 80vw;
    margin: 0 auto;
}
@media screen and (min-width: 1000px) {
    .Container{
        width: 65vw;
    }
}


.inputTask{/****/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 100%;
    margin: 90px 0 30px;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: var(--secondColor); 
    border-radius: var(--borderRadius);

}

.inputText{
    height: 54px;
    width: 85%; 
    border: none; 
    margin: 0px 15px;
    border-radius: var(--borderRadius);
    font-size: 18px;
    font-weight: 600;
    padding-left: 20px;
    background-color: var(--thirdColor);
    color: var(--textColor);
}

.submitText{
    width: 80px;
    height: 60px;
    font-weight: bold;
    background-color: var(--mainColor);
    border: none;
    color: var(--buttonTextColor);
    border-radius: var(--borderRadius);
    transition: all 0.2s;
    cursor: pointer;
}

.submitText:hover{
    opacity: 0.90;
}

.taskShower{/****/
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    padding: 30px 10px; 
    box-sizing: border-box;
    background-color: var(--secondColor);
    border-radius: var(--borderRadius);
}

.taskContent{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    width: 88%; 
    background-color: var(--thirdColor); 
    padding: 10px 20px; 
    align-items: center; 
    margin: 20px auto 0;
    border-radius: var(--borderRadius);
}





.box{
    height: 50px; 
    width: 60px; 
    font-weight: bold; 
    background-color: var(--mainColor);
    border: none;border-radius: 15%; 
    color: var(--buttonTextColor);
    border-radius: calc(var(--borderRadius) - 5px);
    transition: all 0.2s;
    cursor: pointer;
}
.editDiv{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 85%
}

.taskContent button:hover{
    opacity: 0.90;
}

.colorSwitchContainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-weight: 600;
    margin: 0px auto;
    height: 76px;
    width: fit-content;
    padding: 15px 25px;
    background-color: var(--secondColor);
    border-radius: calc(var(--borderRadius) - 10px);
    box-sizing: border-box;
}
.colorSwitch{
    display: flex;
    width: fit-content;
}
#settings{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorR{
    height: 40px;
    width: 40px;
    margin: 0px 10px;
    border-radius: calc(var(--borderRadius) - 15px);
    cursor: pointer;
    opacity: 0.6;
    border: solid 2px transparent;

}

#mainColorTheme{
    background-color: #ff4b27;
}
#secondColorTheme{
    background-color: #003B46;
}
#thirdColorTheme{
    background-color: #379683;
}
#forthColorTheme{
    background-color: #66fcf1;
}
#fivthColorTheme{
    background-color: #86c232;
}


.SelectedColorI{
    border: solid 1px blue;
    opacity: 1;
}


.clearDiv{
    position: absolute;
    height: 46px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    top: 90px;
    left: 0px;
}

.clearButton{
    display: none;
    position: relative;
    height: 46px;
    width: 45px;
    background-color: var(--mainColor);
    border: solid 2px transparent;
    /* border-bottom-right-radius: calc(var(--borderRadius) - 15px);
    border-top-right-radius: calc(var(--borderRadius) - 15px); */
    font-weight: 600;
    color: var(--buttonTextColor);
    cursor: pointer;
    box-sizing: border-box;

    /* animation-name: Appeare;
    animation-duration: 3s; */
    
}

.deleteArrow{
    height: 0;
    width: 0;
    border-left: 35px solid var(--mainColor);
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;


}


.deleteArrow::after{
    content: ">";
    position: relative;
    color: var(--buttonTextColor);
    font-weight: 600;
    font-size: 36px;
    height: 60px;
    width: 60px;
    
    top: -21px;
    left: var(--arrowLeft);
    animation-name: ShakingArrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


@keyframes ShakingArrow {
    0%{
        left: var(--arrowLeft);
    }
    50%{
        left: calc(var(--arrowLeft) + 2px);
    }

    100%{
        left: var(--arrowLeft);
    }

}

.opacityClear{
    opacity: 1;
    transform: scale(1.05);
}


/* @keyframes Appeare {
    0%{
        display: none;
    }
    100%{
        display: block;
    }
} */
