:root{
    --borderRadius: 5px;
    --featureRed: red;
    --featureBlue: blue;
    --featureGreen: green;
    --mainColor: #2196f3;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: 'Cairo', sans-serif;;
    scroll-behavior: smooth;
}

body{
    background-color: white;
    color: black;
    overflow-x: hidden !important;
}

#upArrow{
    display: none;
    position: fixed;
    right: 5%;
    /* bottom: 8%; */
    bottom: -10%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--mainColor);
    color: white;
    z-index: 100;
    cursor: pointer;
    transition: 0.8s;
}
#upArrow > i{
    color: white;
    font-size: 26px;
}

.Container{
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 0px auto;
    flex-direction: column;
}

    @media screen and (min-width: 770px) {
        .Container{
            width: 720px;
        }
    }
    
    @media screen and (min-width: 990px) {
        .Container{
            width: 940px;
        }
    }
    
    @media screen and (min-width: 1200px) {
        .Container{
            width: 1140px;
        }
    }

/* ------------------------------------------------------------------------
--------------------------Repeated Classes
--------------------------------------------------------------------------- */
.DisplayFlex{
    display: flex;
    align-items: center;
}
.DisplayFlexCentering{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section{
    position: relative;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    z-index: 4;
    margin-bottom: 70px;
    padding-top: 70px;
}

.sectionTitle{
    font-size: 33px;
    font-weight: 700;
    width: fit-content;
    padding: 0px 18px;
    border: 2px solid black;
    color: black;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 70px;
    transition: 0.2s;
    transition-delay: 0.7s;
}

.sectionTitle::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: var(--mainColor);
    border-radius: 50%;
    right: -35px;
    top: 44%;
    transition: 0.5s;
    transition-delay: 0.2S;
}

.sectionTitle::before {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: var(--mainColor);
    border-radius: 50%;
    left: -35px;
    top: 44%;
    transition: 0.5s;
    transition-delay: 0.2S;

}
.sectionTitle:hover{
    color: white;
}

.sectionTitle:hover::after{
    right: 0px;
    top: 0;
    border-radius: 0px;
    height: 100%;
    width: 50%;
    z-index: -1;
}
.sectionTitle:hover::before{
    left: 0px;
    top: 0;
    border-radius: 0px;
    height: 100%;
    width: 50%;
    z-index: -1;
}



ul{
    list-style: none;
}
a{
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 400;
    color: black;
}

i{
    font-size: 24px;
    color: var(--mainColor);
}

nav{
    width: 100%;
    position: relative;
    /* left: 0; */
    background-color: white;
    justify-content: space-around;
    font-size: 18px;
    z-index: 5;
}
nav::before{
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    background-color: white;
    z-index: -1;

}

/* Absolute / fixed */
/* nav{
    width: 100%;
    position: absolute;
    left: 0;
    background-color: white;
    justify-content: space-around;
    padding: 15px 70px;
    font-size: 18px;
} */

nav > ul{
    width: 70%;
    justify-content: end;

}
nav > ul > li{
    /* position: relative; */
    width: 100px;
    padding: 20px 10px;
    box-sizing: content-box;
    border-top: solid;
    border-top-width: 4px;
    border-top-color: transparent;
    transition: 1s;
    animation-fill-mode: forwards;
}
/* nav > ul > li::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 4px;
    top: -4px;
    left: 0;
    background-color: var(--mainColor);

} */
nav ul > li:hover a{
    color: var(--mainColor);
}
nav ul > li:hover{
    background-color: rgba(0, 0, 0, 0.052);
    border-top-color: rgb(32, 148, 243);
}
/* nav ul > li:hover li::before{
    width: 99%; 
} */
nav ul > li:last-child:hover #megaMenu{
    display: flex;
}

nav > ul > li{
    text-align: center;
}


.logo{
    width: 30%;
    color: var(--mainColor);
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    padding: 16px 0px;
}
#megaMenu{
    display: none;
    flex-direction: row;
    position: absolute;
    height: 50vh;
    width: 100%;
    left: 0;
    top: 80px;
    padding: 30px 40px;
    background-color: white;
}
#megaMenu img{
    max-height: 100%;
    width: 50%;
    margin-right: 20px;

}
#megaMenu ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    padding-bottom: 7%;
    column-gap: 20px;
}
#megaMenu li{
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
    border: solid 1px transparent;
    border-bottom-color: #00000017;
}
#megaMenu li:last-child, #megaMenu li:nth-last-child(2){
    border-bottom-color: transparent;
}
#megaMenu a{
    color: var(--mainColor);
    font-weight: 700;
}

#megaMenu i{
    display: inline;
    color: var(--mainColor);
    font-size: 20px;
}


@media screen and (max-width: 680px) {
    nav{
        flex-direction: column;
        justify-content: center;
    }
    .logo{
        text-align: center;
        padding: 16px 0px 0px;
        width: fit-content;
    }
    nav > ul > li{
        padding: 5px 10px 10px;
        width: fit-content;
    }
    nav > ul{
        justify-content: center;
        width: fit-content;
    }
    #megaMenu{
        height: 65vh;
        padding: 7px;
        border: solid 2px transparent;
        border-bottom-color: var(--mainColor);
        top: 118px;
    }
    #megaMenu ul{
        grid-template-columns: 1fr;
        width: 100%;
        padding-bottom: 0px;
    }
    #megaMenu img{
        display: none;
    }
    #megaMenu li:nth-last-child(2){
        border-bottom-color:  #00000017;
    }
    /* #megaMenu li:last-child{
        border-bottom-color:  var(--mainColor);
    } */
}

@media screen and (max-width: 380px) {
    nav > ul > li a{
        font-size: 14px;
    }
}


main{
    height: 89vh;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 24vh;
    margin-bottom: 50px;

}
main::before{
    content: "";
    position: absolute;
    width: 100vw;
    height: 92vh;
    background-color: #ececec;
    left: 0;
    top: 0;
    z-index: -3;
}
main::after{
    content: "";
    position: absolute;
    width: 110vw;
    height: 200px;
    background-color: #fff;
    left: 50%;
    transform: translate(-50%,25%) rotate(-5deg);
    bottom: 0;
}

main h1{
    text-transform: capitalize;
    font-size: 42px;
    line-height: 100%;
    letter-spacing: -2px;
    margin-bottom: 7px;
}
main p {
    text-transform: capitalize;
    font-size: 20px;
}
main .textArea{
    flex-direction: column;
    width: 40%;
    text-align: left;
    align-items: baseline;
}

main img{
    width: 40%;
    height: auto;
    animation: imgAnime 4s infinite alternate ease-in;
}

@keyframes imgAnime {
    from{
        transform: translateY(-20px);
    }
    to{
        transform: translateY(20px);
    }
}

@keyframes mainArrow {
    0%{
        transform: translateY(15px);
    }
    20%{
        transform: translateY(0px);
    }
    40%{
        transform: translateY(15px);
    }
    50%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(15px);
    }

}

#mainArrow{
    position: absolute;
    bottom: 10%;
    z-index: 5;
    right: 49%;
    font-size: 30px;
    animation: mainArrow 1.1s infinite ease-out;
    cursor: pointer;
}

@media screen and (max-width: 1000px)  {
    main{
        justify-content: center;
    }
    main img{
        display: none;
    }
    main .textArea{
        width: 80%;
        text-align: center;
        align-items: center;
    }
}


/* ------------------------------------------------------------------------
--------------------------Articles Section/ Second Section
--------------------------------------------------------------------------- */

#articles{
    /* flex-direction: column;
    height: fit-content;
    width: 100%;
    z-index: 4;
    margin-bottom: 70px;
    padding-top: 70px; */
}

.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
}


.card{
    display: grid;
    grid-template-rows: 3fr 3fr 1fr;
    align-items: center;
    height: 360px;
    box-shadow: 0px 0px 25px -18px;
    border-radius: var(--borderRadius) var(--borderRadius) 0px 0px;
    transition: 0.25s;
}
.card:hover{
    transform: translateY(-15px);
    box-shadow: 0px 0px 25px -14px;
}
.card img{
    width: 100%;
    height: 164px;
    border-radius: var(--borderRadius) var(--borderRadius) 0px 0px;
    object-fit: cover;
    object-position: bottom;
}
.card > .textArea{
    display: flex;
    flex-direction: column;
    padding: 7px 12px;
    align-items: baseline;
    justify-content: center;
    text-align: left;
}
.card > .textArea h3{
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.card > .textArea p{
    color: #333;
}
.card > a{
    position: relative;
    display: flex;
    padding: 15px 20px;
    justify-content: baseline;
    align-items: center;
    border-top: 2px solid rgba(0, 0, 0, 0.097);
    color: var(--mainColor);
    font-weight: 700;
}

.card > a:after{
    content: "-->";
    position: absolute;
    height: 5px;
    width: 5px;
    z-index: 12;
    right: 30px;
    top: 25%;
    letter-spacing: -2px;
    animation: readMore 0.7s infinite ease-out;
    animation-play-state: paused;

}
.card:hover  a::after{
    animation-play-state: running;
}

@keyframes readMore {
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(7px);
    }
}

@media screen and (max-width: 1200px) {
    .cards{
        grid-template-columns: repeat(3,1fr);
    }
}
@media screen and (max-width: 990px) {
    .cards{
        grid-template-columns: repeat(2,1fr);
    }
    .card{
        height: 413px;
    }
    .card img{
        height: 217px;
    }
    
}
@media screen and (max-width: 570px) {
    .cards{
        grid-template-columns: 1fr;
    }
}

#articles::after {
    content: "";
    position: absolute;
    height: 30px;
    width: 100vw;
    /* background-color: red; */
    bottom: -201vh;
    /* background: linear-gradient(135deg, white 50%,black 50%); */
    
    /* background: repeating-linear-gradient(135deg, white 50%,black 50%); */
    /* background: linear-gradient(-135deg, white 25%,black 25%), linear-gradient(225deg,black 25%,white 25%); */
}


/* #gallery::before{ */
.secondBackground::before{
    content: "";
    position: absolute;
    width: 100vw;
    height: 105%;
    background-color: #ececec;
    z-index: -5;
    top: 0;
}
@media screen and (max-width: 610px) {
    .secondBackground::before{
        height: 102%;
    }
}

.galleryPhotos{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 40px;
}
.photo {
    position: relative;
    border: solid 20px white;
    height: fit-content;
    width: fit-content;
    display: flex;
    overflow: hidden;
    box-shadow: 0px 0px 20px -13px;
}

.galleryPhotos img{
    max-width: 100%;
    height: auto;
    transition: 0.4s;

}

@media screen and (max-width: 1200px) {
    .galleryPhotos{
        grid-template-columns: repeat(2 ,1fr);
    }
}
@media screen and (max-width: 670px) {
    .galleryPhotos{
        grid-template-columns: 1fr;
    }
}

.galleryPhotos img:hover{
    transform: rotate(3deg) scale(1.05);
    /* animation: photoAnimtion 0.3s ease-out; */
}
/* 
@keyframes photoAnimtion {
    0%{        
        -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 0.7) 50%, black 50%);
        mask-image: radial-gradient(circle, rgba(0, 0, 0, 0.7) 50%, black 50%);
    }
    90%{
        -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 0.7) 100%, black 100%);
        mask-image: radial-gradient(circle, rgba(0, 0, 0, 0.7) 100%, black 100%);
    }
    100%{
        -webkit-mask-image: unset;
        mask-image: unset;
    }
} */


/* -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 0.5) 50%, black 50%);
mask-image: radial-gradient(circle, rgba(0, 0, 0, 0.5) 50%, black 50%); */

/* -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 0.5) 100%, black 100%);
mask-image: radial-gradient(circle, rgba(0, 0, 0, 0.5) 100%, black 100%); */




.allFeature{
    width: 100%;
    gap: 40px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.feature{
    position: relative;
    flex-direction: column;
    height: 100vh;
    border: solid 1px rgba(0, 0, 0, 0.275);
    overflow: hidden;
}
.feature::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    top: 31%;
    border-bottom: solid 185px white;
    border-left: solid 710px transparent;
    transition: 0.25s;
    /* transition-timing-function: cubic-bezier(0.8,0.8,0.8, 1); */
}
.feature::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    opacity: 0.3;
}
.feature:hover::after{
    border-left: none;
    border-right: solid 710px  transparent;
}
.feature > img{
    height: 50%;
    width: 100%;
    object-fit: cover;
}
.feature > .textArea{
    flex-direction: column;
    gap: 12px;
    background-color: white;
    color: black;
    height: 50%;
    width: 100%;
    padding: 30px 20px;
    text-align: center;
}
.feature > .textArea h1{
    position: relative;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 30px;
}
.feature > .textArea h1::after{
    content: "";
    position: absolute;
    width: 70%;
    height: 5px;
    bottom: -5px;
    /* background-color: var(--featureRed); */
    left: 50%;
    transform: translate(-50%,-50%);
}
.feature > .textArea p{
    text-align: center;
    width: 90%;
}

.feature .textArea > button{
    background-color: transparent;
    border: solid 3px var(--featureRed);
    padding: 9px 28px;
    color: var(--featureRed);
    text-transform: capitalize;
    font-weight: 600;
    border-radius: 5px;
    font-size: 21px;
    transition: 0.5s;
}

.feature:hover .textArea > button{
    color: white;
}


[data-color="red"] > .textArea h1::after{
        background-color: var(--feboatureRed);

    background-color: var(--featureRed);
}

[data-color="red"]  .textArea > button{
    border: solid 3px var(--featureRed);
    color: var(--featureRed);
}
[data-color="red"]:hover .textArea > button{
    background-color: var(--featureRed);
}
[data-color="red"]::before{
    background-color: var(--featureRed);
}

[data-color="blue"] > .textArea h1::after{
    background-color: var(--featureBlue);
}

[data-color="blue"]  .textArea > button{
    border: solid 3px var(--featureBlue);
    color: var(--featureBlue);
}
[data-color="blue"]:hover .textArea > button{
    background-color: var(--featureBlue);
}
[data-color="blue"]::before{
    background-color: var(--featureBlue);
}

[data-color="green"] > .textArea h1::after{
    background-color: var(--featureGreen);
}

[data-color="green"]  .textArea > button{
    border: solid 3px var(--featureGreen);
    color: var(--featureGreen);
}
[data-color="green"]:hover .textArea > button{
    background-color: var(--featureGreen);
}
[data-color="green"]::before{
    background-color: var(--featureGreen);
}



@media screen and (max-width: 990px) {
    .allFeature{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width: 670px) {
    .allFeature{
        grid-template-columns: 1fr;
    }
    .feature::after{
        border-left: solid 1200px transparent;
    }
    .feature:hover::after{
        border-right: solid 1200px transparent;
    }
}





/* testimonials */


.comments{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px 40px;
}

.comment{
    position: relative;
    flex-direction: column;
    align-items: baseline;
    margin-top: 25px;
    text-align: left;
    padding: 22px;
    gap: 9px;
    background-color: white;
    border-radius: 9px;
}
.comment > img{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: -21%;
    right: -3%;
    border: solid 10px #ececec;
    box-sizing: content-box;
}
.comment > h3{
    text-transform: capitalize;

}
.comment > h4{
    text-transform: capitalize;
    font-weight: 500;
    color: #888080;
}

.stars > i{
    color: gold;
    font-size: 22px;
}
.stars > .fa-regular{
    color: black ;
}

@media screen and (max-width: 1200px) {
    .comments{
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 35px;
    }
}
@media screen and (max-width: 670px) {
    .comments{
    grid-template-columns: 1fr;
    gap: 20px 35px;
    }
}


/* team members */

#teamMembers{
    flex-direction: column;
}

.accounts{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px 45px;
}
.account{
    position: relative;
    background-color: #ececec;
    border-radius: 20px;
    padding: 20px;
    width: 90%;
    left: 14%;
}
.account::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 0;
    overflow: hidden;
    top: 0;
    right: 0;
    transition: 0.3s;
    border-radius: 20px;
}
.account > img{
    position: relative;
    height: 70%;
    width: 110%;
    object-fit: cover;
    border-radius: 7px;
    left: -26%;
    top: 11%;
    z-index: 1;
    transition: 0.4s 0.1s;
}

.account:hover::after{
    filter: grayscale(100%);
    width: 100%;
}
.account:hover > img{
    filter: grayscale(100%);
}
.account:hover > h1{
    color: #333;
}


.account > ul{
    position: absolute;
    flex-direction: column;
    width: fit-content;
    right: 5%;
    top: 45%;
    height: 40%;
    transform: translate(-50%,-50%);
    justify-content: space-between;
    z-index: 1;
}
.account > ul i{
    color: #3339;
    font-size: 19px;
}
.account > ul i:hover{
    color: var(--mainColor);
}
.account > h1{
    margin-top: 20%;
    color: var(--mainColor);
    font-size: 26px;
    text-transform: capitalize;
    transition: 0.1s 0.1s;
}
.account > h3{
    text-transform: capitalize;
    font-weight: 500;
}

@media screen and (max-width: 1200px) {
    .accounts{
        grid-template-columns: repeat(2,1fr);
    }

}
@media screen and (max-width: 660px) {
    .accounts{
        grid-template-columns: 1fr;
    }
}


/* Services */


.services{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;

}
.service {
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 20px -15px;
    background-color: white;
    transition: 0.3s;
}
.service::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 0;
    background: var(--mainColor);
    top: -5px;
    transition: 0.3s;
  }
.service:hover{
    transform: translateY(-15px);
}
.service:hover::before{
    width: 100%;
}
.service > .upper{
    flex-direction: column;
    height: 80%;
    width: 100%;
    justify-content: center;
    padding: 7% 0px;
}
.service > .lower{
    height: 20%;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f9f9f9;
    overflow: hidden;
}


.upper > i {
    font-size: 70px;
    color: #c3c3c3;
}

.upper > h3 {
    font-size: 27px;
    text-transform: capitalize;
    color: var(--mainColor);
}

.lower > span {
    font-size: 32px;
    font-weight: 700;
    background-color: var(--mainColor);
    color: white;
    height: 100%;
    padding-left: 30px;
    padding: 15px 10px 15px 25px;
    position: relative;
    z-index: 2;
}
.lower > span::before {
    content: "";
    position: absolute;
    right: -18px;
    top: -22px;
    border-top: solid 33px var(--mainColor);
    border-left: solid 28px var(--mainColor);
    rotate: 30deg;
    z-index: -1;
    height: 100%;
}
.lower > span::after {
    content: "";
    position: absolute;
    right: -60px;
    top: -15px;
    border-top: solid 32px #d5d5d5;
    border-left: solid 42px #d5d5d5;
    rotate: 29deg;
    z-index: -1;
    height: 100%;
}

.lower > a {
    margin-right: 15px;
    color: var(--mainColor);
}

@media screen and (max-width: 1200px) {
    .services{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 670px) {
    .services{
        grid-template-columns: 1fr;
    }
    .lower > span::before {
        rotate: 26deg;
    }

}



/* skills */
.skills{
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
}
.skills > img {
    max-width: 50%;
    height: auto;
}
.skills ul {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skills > ul li {
    display: grid;
    grid-auto-rows: 1fr 29px;
    position: relative;
}

.skills span {
    position: absolute;
    right: 0;
    top: -5%;
    padding: 0px 8px;
    border: solid 1px #d8cccc;
    border-radius: 5px;
    font-size: 12px;
    color: var(--mainColor);
  }
.progressBar::before {
    content: "";
    position: absolute;
    height: 44%;
    background-color: #eeee;
    width: 100%;
    z-index: -1;
}
.progressBar {
    width: 70%;
    background-color: var(--mainColor);
    height: 100%;
}

.skills h4 {
    font-size: 20px;
    font-weight: 700;
    position: relative;
    top: -20%;
}

@media screen and (max-width: 990px) {
    .skills > img{
        display: none;
    }

    .skills ul {
        width: 100%;
    }
}


/* how it work */

#how{
    padding-bottom: 3%;
}

#how > .informations{
    width: 100%;
    justify-content: space-between;
}
#how > .informations > img{
    width: 40%;
    height: auto;
}
#how .rightSection{
    width: 48%;
    flex-direction: column;
    gap: 25px;
}
#how .info{
    position: relative;
    width: 100%;
    height: fit-content;
    padding: 30px 25px;
    border: 1px solid white;
    background-color: #f6f5f5;
    gap: 30px;
}
#how .info::before{
    content: "";
    position: absolute;
    height: 0%;
    width: 0%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #cdcdcd;
    opacity: 0.3;
    transition: 0.3s;
}
#how .info:hover::before{
    height: 100%;
    width: 100%;
}
#how .info img{
    width: 75px;
    height: auto;
}
#how .info .textArea{
    flex-direction: column;
    align-items: baseline;
}
#how h3{
    font-size: 26px;
    font-weight: 700;
    text-transform: capitalize;
}
#how p{
    font-size: 16px;

}

@media screen and (max-width: 1000px) {
    #how > .informations{
        flex-direction: column;
        gap: 30px;
    }
    #how > .informations > img{
        width: 60%;
    }
    #how .rightSection{
        width: 100%;
    }
}

/* Event */
.event{
    width: 100%;
    flex-direction: column;
}
.eventDetails{
    justify-content: space-between;
    margin-bottom: 3%;
    
}
.eventDetails > img{
    width: 48%;
    height: auto;
    transform: scale(0.8);
}
.eventDetails >  .textArea{
    width: 50%;
    flex-direction: column;
}
.eventTimer {
    width: 65%;
    /* justify-content: space-between; */
    justify-content: center;
    column-gap: 20px;
    margin-bottom: 5%;
}
.eventTimer > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: solid 1px #d9d9d9;
    border-radius: 7px;
    transition: 0.3s;
}
.eventTimer > div:hover{
    border-color: #2196f3;
}
.eventTimer > div > span{
    color: #2196f3;
    font-weight: 700;
    font-size: 32px;
    padding: 6px 16px;
}
.eventTimer > div > h5{
    text-transform: capitalize;
    width: 100%;
    border-top: solid 1px #959494;
    padding: 7px;
    text-align: center;
    font-weight: 600;
}

#events h3{
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
}
#events p{
    color: #333;
    font-size: 16px;
    text-align: center;
}

#events .form{
    width: 60%;
    background-color: #f6f5f5;
    padding: 20px 30px;
    border-radius: 80px;
    justify-content: space-between;
}
#events .form input{
    border: none;
    border-radius: 80px;
    width: 70%;
    padding: 22px 12px;
}
#events .form input::placeholder {
    text-transform: capitalize;
    font-size: 16px
}

#events .form button{
    border: none;
    text-transform: capitalize;
    background-color: #2196f3;
    color: white;
    font-weight: 700;
    font-size: 20px;
    padding: 25px 17px;
    border-radius: 80px;
    cursor: pointer;
}

@media screen and (max-width: 990px) {
    .eventDetails > img{
        display: none;
    }
    .eventDetails >  .textArea{
        width: 100%;
        margin-bottom: 7%;
    }
    #events .form{
        width: 80%;
    }
}
@media screen and (max-width: 780px) {
    #events .form{
        flex-direction: column;
        gap: 25px;
        border-radius: 10px;
    }
    #events .form input{
        width: 100%;
        border-radius: 7px;
    }
    #events .form button{
        width: 100%;
        border-radius: 7px;

    }
}