:root{
    --borderRadius: 5px;
    --featureRed: red;
    --featureBlue: blue;
    --featureGreen: green;
    /* main */
    --mainColor: #2196f3;
    /* --mainColor: #5c21a6;  good color */
    /* --mainColor: #54dc1b; good one too */
    /* main */
    --backgroundColor: white;
    --secondBackgroundColor: #ececec;
    --thirdBackgroundColor: black;
}

/* ------------------------------------------------------------------------
--------------------------Direct World Rules                     [Start]
--------------------------------------------------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    font-family: 'Cairo', sans-serif;;
    scroll-behavior: smooth;
}
@media screen and (max-width: 990px) {html{font-size: 14px;}}
body{ 
    background-color: var(--backgroundColor);
    color: var(--thirdBackgroundColor);
    overflow-x: hidden;
}
ul{list-style: none;}
a{
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 400;
    color: var(--thirdBackgroundColor);
}
h1,h2,h3,h4,h5,h6{text-transform: capitalize;}
input::placeholder{text-transform: capitalize;}
textarea{resize: none;}
textarea::placeholder{text-transform: capitalize;}
button{text-transform: capitalize;}
i{
    font-size: 1.5rem;
    color: var(--mainColor);
}
/* ------------------------------------------------------------------------
--------------------------Direct World Rules                     [End]
--------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------
--------------------------Whole Used Element                      [Start]
--------------------------------------------------------------------------- */
#upArrow{
    display: none;
    position: fixed;
    left: 85vw;
    bottom: -10%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--mainColor);
    z-index: 100;
    cursor: pointer;
    transition: 0.8s;
    justify-content: center;
}
#upArrow > i{
    color: var(--backgroundColor);
    font-size: 1.625rem;
}
@media screen and (max-width: 500px) {#upArrow{left: 70vw;}}
.Container{
    display: flex;
    width: 90vw;
    margin: 0px auto;
}
@media screen and (min-width: 770px) {.Container{width: 720px;}}
@media screen and (min-width: 990px) {.Container{width: 940px;}}
@media screen and (min-width: 1200px) {.Container{width: 1140px;}}
/* ------------------------------------------------------------------------
--------------------------Direct World Rules                     [End]
--------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------
--------------------------Repeated Classes                        [Start]
--------------------------------------------------------------------------- */
.DisplayFlex{
    display: flex;
    align-items: center;
}
.Centering{justify-content: center;}
.column{flex-direction: column;}
.section{
    position: relative;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    z-index: 4;
    margin-bottom: 70px;
    padding-top: 70px;
}
.section > .sectionTitle + div{width: 100%;}
.PosRelative{position: relative;}
.sectionTitle{
    font-size: 2rem;
    font-weight: 700;
    width: fit-content;
    padding: 0px 18px;
    border: 2px solid var(--thirdBackgroundColor);
    color: var(--thirdBackgroundColor);
    text-transform: uppercase;
    position: relative;
    margin-bottom: 70px;
}
.sectionTitle::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: var(--mainColor);
    border-radius: 50%;
    right: -35px;
    top: 44%;
}
.sectionTitle::before {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: var(--mainColor);
    border-radius: 50%;
    left: -35px;
    top: 44%;
}
.sectionTitle:hover{
    color: var(--backgroundColor);
    border-color: transparent;
    transition-delay: 0.5s;
}
@keyframes left-circle {
    50%{
        z-index: -1;
        left: 0px;
    }
    100%{
        left: 0px;
        top: 0;
        border-radius: 0px;
        height: 100%;
        width: 50%;
        z-index: -1;
    }
}
@keyframes right-circle {
    50%{
        z-index: -1;
        right: 0px;
    }
    100%{
        right: 0px;
        top: 0;
        border-radius: 0px;
        height: 100%;
        width: 50%;
        z-index: -1;
    }
}
.sectionTitle:hover::after{animation: right-circle 0.5s linear forwards;}
.sectionTitle:hover::before{animation: left-circle 0.5s linear forwards;}
.secondBackground::before{
    content: "";
    position: absolute;
    width: 100vw;
    height: 105%;
    background-color: var(--secondBackgroundColor);
    z-index: -5;
    top: 0;
}
@media screen and (max-width: 610px) {.secondBackground::before{height: 102%;}}
.DisplayGrid-3,.DisplayGrid-4{
    display: grid;
    gap: 40px;
}
.DisplayGrid-3{grid-template-columns: repeat(auto-fill ,minmax(300px,1fr));}
.DisplayGrid-4{grid-template-columns: repeat(auto-fill ,minmax(250px,1fr));}
.spikes{
    margin-top: 80px;
    height: 60px;
    width: 100vw;
    position: relative;
}
.spikes::before{
    content: "";
    position: absolute;
    height: 60px;
    width: 100%;
    background-color: var(--secondBackgroundColor);
    background-image: linear-gradient(135deg, var(--backgroundColor) 25%, transparent 25%), linear-gradient(225deg, var(--backgroundColor) 25%,transparent 25%);;
    background-size: 44px;
}
.spikeContain{margin-bottom: 0;}
/* ------------------------------------------------------------------------
--------------------------Repeated Classes                        [End]
--------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------
--------------------------NAV                        [Start]
--------------------------------------------------------------------------- */
nav{
    width: 100%;
    background-color: var(--backgroundColor);
    justify-content: space-around;
    font-size: 1.125rem;
    z-index: 5;
}
nav::before{
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    background-color: var(--backgroundColor);
    z-index: -1;
}
nav > ul{
    width: 70%;
    justify-content: end;
}
nav > ul > li{
    width: 100px;
    padding: 20px 10px;
    box-sizing: content-box;
    border-top: solid 4px transparent;
    transition: 1s;
    animation-fill-mode: forwards;
}
nav ul > li:hover a{color: var(--mainColor);}
nav ul > li:hover{
    background-color: rgba(0, 0, 0, 0.052);
    border-top-color: rgb(32, 148, 243);
}
nav ul > li:last-child:hover #megaMenu{display: flex;}
nav > ul > li{text-align: center;}
.logo{
    width: 30%;
    color: var(--mainColor);
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    padding: 16px 0px;
}
#megaMenu{
    display: none;
    position: absolute;
    height: 50vh;
    width: 100%;
    left: 0;
    top: 80px;
    padding: 30px 40px;
    background-color: var(--backgroundColor);
}
#megaMenu img{
    max-height: 100%;
    width: 50%;
    margin-right: 20px;
}
#megaMenu ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    padding-bottom: 7%;
    column-gap: 20px;
}
#megaMenu li{
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
    border: solid 1px transparent;
    border-bottom-color: #00000017;
}
#megaMenu li:last-child, #megaMenu li:nth-last-child(2){border-bottom-color: transparent;}
#megaMenu a{
    color: var(--mainColor);
    font-weight: 700;
}
#megaMenu i{
    display: inline;
    color: var(--mainColor);
    font-size: 1.25rem;
}
@media screen and (max-width: 680px) {
    nav{
        flex-direction: column;
        justify-content: center;
    }
    .logo{
        text-align: center;
        padding: 16px 0px 0px;
        width: fit-content;
    }
    nav > ul > li{
        padding: 5px 10px 10px;
        width: fit-content;
    }
    nav > ul{
        justify-content: center;
        width: fit-content;
    }
    #megaMenu{
        height: 65vh;
        padding: 7px;
        border: solid 2px transparent;
        border-bottom-color: var(--mainColor);
        top: 118px;
    }
    #megaMenu ul{
        grid-template-columns: 1fr;
        width: 100%;
        padding-bottom: 0px;
    }
    #megaMenu img{display: none;}
    #megaMenu li:nth-last-child(2){border-bottom-color:  #00000017;}
}
@media screen and (max-width: 380px) {nav > ul > li a{font-size: 0.875rem;}}
/* ------------------------------------------------------------------------
--------------------------Main/HomePage                        [Start]
--------------------------------------------------------------------------- */
main{
    height: 89vh;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 24vh;
    margin-bottom: 50px;
}
main::before{
    content: "";
    position: absolute;
    width: 100vw;
    height: 92vh;
    background-color: var(--secondBackgroundColor);
    left: 0;
    top: 0;
    z-index: -3;
}
main::after{
    content: "";
    position: absolute;
    width: 110vw;
    height: 200px;
    background-color: var(--backgroundColor);
    left: 50%;
    transform: translate(-50%,25%) rotate(-5deg);
    bottom: 0;
}
main h1{
    font-size: 2.625rem;
    line-height: 100%;
    letter-spacing: -2px;
    margin-bottom: 7px;
}
main p {
    text-transform: capitalize;
    font-size: 1.25rem;
}
main .textArea{
    width: 40%;
    text-align: left;
    align-items: baseline;
}
main img{
    width: 40%;
    height: auto;
    animation: imgAnime 4s infinite alternate ease-in;
}

@keyframes imgAnime {
    from{transform: translateY(-20px);}
    to{transform: translateY(20px);}
}
@keyframes mainArrow {
    0%{transform: translateY(15px);}
    20%{transform: translateY(0px);}
    40%{transform: translateY(15px);}
    50%{transform: translateY(0px);}
    100%{transform: translateY(15px);}
}
#mainArrow{
    position: absolute;
    bottom: 10%;
    z-index: 5;
    right: 49%;
    font-size: 1.875rem;
    animation: mainArrow 1.1s infinite ease-out;
    cursor: pointer;
}
@media screen and (max-width: 1000px)  {
    main{justify-content: center;}
    main img{display: none;}
    main .textArea{
        width: 80%;
        text-align: center;
        align-items: center;
    }
}

/* ------------------------------------------------------------------------
--------------------------Articles Section/ Second Section        [Start]
--------------------------------------------------------------------------- */
.card{ 
    display: grid;
    grid-template-rows: 3fr 3fr 1fr;
    align-items: center;
    height: 360px;
    box-shadow: 0px 0px 25px -18px;
    border-radius: var(--borderRadius) var(--borderRadius) 0px 0px;
    transition: 0.25s;
    background-color: var(--backgroundColor);
}
.card:hover{
    transform: translateY(-15px);
    box-shadow: 0px 0px 25px -14px;
}
.card img{
    width: 100%;
    height: 164px;
    border-radius: var(--borderRadius) var(--borderRadius) 0px 0px;
    object-fit: cover;
    object-position: bottom;
}
.card > .textArea{
    padding: 7px 12px;
    align-items: baseline;
    text-align: left;
}
.card > .textArea h3{
    font-size: 1.25rem;
    font-weight: 700;
}
.card > .textArea p{color: #333;}
.card > a{
    position: relative;
    display: flex;
    justify-content: baseline;
    align-items: center;
    color: var(--mainColor);
    font-weight: 700;
}
.card-readMore{
    justify-content: space-between;
    padding: 7px 15px;
    border-top: 2px solid rgba(0, 0, 0, 0.097);
}
.card-readMore a{color: var(--mainColor);}
.card-readMore i{
    cursor: pointer;
    font-size: 16px;
    animation: readMore 0.8s infinite;
    animation-play-state: paused;
}
.card:hover .card-readMore i {animation-play-state: running;}
@keyframes readMore {
    from{transform: translateX(0px);}
    to{transform: translateX(7px);}
}
@media screen and (max-width: 990px) {
    .card{height: 413px;}
    .card img{height: 217px;}
}
#articles::after {
    content: "";
    position: absolute;
    height: 30px;
    width: 100vw;
    bottom: -201vh;
}

/* ------------------------------------------------------------------------
--------------------------Main/HomePage                        [Start]
--------------------------------------------------------------------------- */
.photo {
    border: solid 20px white;
    display: flex;
    overflow: hidden;
    box-shadow: 0px 0px 20px -13px;
}
.photo::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #ffffff;
    z-index: 1;
    pointer-events: none;
}
.galleryPhotos img{
    max-width: 100%;
    height: auto;
    transition: 0.4s;
}

.galleryPhotos img:hover{transform: rotate(3deg) scale(1.05);}
.galleryPhotos .photo:hover::before{animation: galleryAnime 0.6s;}
@keyframes galleryAnime {
    0%{
        width: 30%;
        height: 30%;
        opacity: 0.2;
    }
    50%{
        width: 100%;
        height: 100%;
    }
    95%{
        width: 100%;
        height: 100%;
    }
    100%{opacity: 0;}
}
.feature{
    height: 100vh;
    border: solid 1px rgba(0, 0, 0, 0.275);
    overflow: hidden;
}
.feature::after {
    content: "";
    position: absolute;
    width: 127%;
    height: 48%;
    top: 24%;
    transition: 0.25s;
    background-color: white;
    transform: skew(110deg);
}
.feature::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    opacity: 0.3;
}
.feature:hover::after{transform: skew(250deg);}
.feature > img{
    height: 50%;
    width: 100%;
    object-fit: cover;
}
.feature > .textArea{
    gap: 12px;
    background-color: var(--backgroundColor);
    color: var(--thirdBackgroundColor);
    height: 50%;
    width: 100%;
    padding: 30px 20px;
    text-align: center;
    z-index: 1;
}
.feature > .textArea h1{
    position: relative;
    font-weight: 700;
    font-size: 2.25rem;
    margin-bottom: 30px;
}
.feature > .textArea h1::after{
    content: "";
    position: absolute;
    width: 70%;
    height: 5px;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%,-50%);
}
.feature > .textArea p{
    text-align: center;
    width: 90%;
}
.feature .textArea > button{
    background-color: transparent;
    border: solid 3px var(--featureRed);
    padding: 9px 28px;
    color: var(--featureRed);
    font-weight: 600;
    border-radius: 5px;
    font-size: 1.25rem;
    transition: 0.5s;
    position: relative;
}
.feature:hover .textArea > button{
    color: var(--backgroundColor);
    z-index: 0;
}
.feature:hover .textArea > button::before{width: 100%;}
.feature .textArea > button::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 0%;
    transition: 0.4s;
    z-index: -1;
}

[data-color="red"] > .textArea h1::after{    
    background-color: var(--feboatureRed);
    background-color: var(--featureRed);
}
[data-color="red"]  .textArea > button{
    border: solid 3px var(--featureRed);
    color: var(--featureRed);
}
[data-color="red"] .textArea > button::before{background-color: var(--featureRed);}
[data-color="red"]::before{background-color: var(--featureRed);}

[data-color="blue"] > .textArea h1::after{background-color: var(--featureBlue);}
[data-color="blue"]  .textArea > button{
    border: solid 3px var(--featureBlue);
    color: var(--featureBlue);
}
[data-color="blue"] .textArea > button::before{background-color: var(--featureBlue);}
[data-color="blue"]::before{background-color: var(--featureBlue);}

[data-color="green"] > .textArea h1::after{background-color: var(--featureGreen);}
[data-color="green"]  .textArea > button{
    border: solid 3px var(--featureGreen);
    color: var(--featureGreen);
}
[data-color="green"] .textArea > button::before{background-color: var(--featureGreen);}
[data-color="green"]::before{background-color: var(--featureGreen);}

@media screen and (max-width: 670px) {
    .feature::after{border-left: solid 1200px transparent;}
    .feature:hover::after{border-right: solid 1200px transparent;}
}
/* ------------------------------------------------------------------------
--------------------------Testimonials                       [Start]
--------------------------------------------------------------------------- */
.comments{gap: 25px 40px;}
.comment{
    align-items: baseline;
    margin-top: 25px;
    text-align: left;
    padding: 22px;
    gap: 9px;
    background-color: var(--backgroundColor);
    border-radius: 9px;
}
.comment > img{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: -21%;
    right: -3%;
    border: solid 10px var(--secondBackgroundColor);
    box-sizing: content-box;
}
.comment > h4{
    font-weight: 500;
    color: #888080;
}
.stars > i{
    color: gold;
    font-size: 1.375rem;
}
.stars > .fa-regular{color: black ;}
@media screen and (max-width: 1200px) {
    .comments{gap: 20px 35px;}
}
/* -----------------------------------------------------------------------
--------------------------Team Members                       [Start]
--------------------------------------------------------------------------- */
.accounts{gap: 30px 45px;}
.account{
    background-color: var(--secondBackgroundColor);
    border-radius: 20px;
    padding: 20px;
    width: 90%;
    left: 14%;
}
.account::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 0;
    overflow: hidden;
    top: 0;
    right: 0;
    transition: 0.3s;
    border-radius: 20px;
}
.account > img{
    position: relative;
    height: 70%;
    width: 110%;
    object-fit: cover;
    border-radius: 7px;
    left: -26%;
    top: 11%;
    z-index: 1;
    transition: 0.4s 0.1s;
}
.account:hover::after{
    filter: grayscale(100%);
    width: 100%;
}
.account:hover > img{filter: grayscale(100%);}
.account:hover > h1{color: #333;}
.account > ul{
    position: absolute;
    width: fit-content;
    right: 5%;
    top: 45%;
    height: 40%;
    transform: translate(-50%,-50%);
    justify-content: space-between;
    z-index: 1;
}
.account > ul i{
    color: #3339;
    font-size: 1.18rem;
}
.account > ul i:hover{color: var(--mainColor);}
.account > h1{
    margin-top: 20%;
    color: var(--mainColor);
    font-size: 1.625rem;
    transition: 0.1s 0.1s;
}
.account > h3{font-weight: 500;}
/* ------------------------------------------------------------------------
--------------------------Services                       [Start]
--------------------------------------------------------------------------- */
.service {
    position: relative;
    box-shadow: 0px 0px 20px -15px;
    background-color: var(--backgroundColor);
    transition: 0.3s;
}
.service::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 0;
    background: var(--mainColor);
    top: -5px;
    transition: 0.3s;
}
.service:hover{transform: translateY(-15px);}
.service:hover::before{width: 100%;}
.service > .upper{
    height: 80%;
    width: 100%;
    padding: 7% 0px;
}
.service > .lower{
    height: 20%;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f9f9f9;
    overflow: hidden;
}
.upper > i {
    font-size: 4.375rem;
    color: var(--secondBackgroundColor);
}
.upper > h3 {
    font-size: 1.625rem;
    color: var(--mainColor);
}
.lower > span {
    font-size: 2rem;
    font-weight: 700;
    background-color: var(--mainColor);
    color: var(--backgroundColor);
    height: 100%;
    padding-left: 30px;
    padding: 15px 10px 15px 25px;
    position: relative;
    z-index: 2;
}
.lower > span::before {
    content: "";
    position: absolute;
    right: -17px;
    z-index: -1;
    height: 156%;
    width: 29px;
    background-color: var(--mainColor);
    transform: skew(154deg);
}
.lower > span::after {
    content: "";
    position: absolute;
    right: -67px;
    z-index: -1;
    height: 101%;
    background-color: var(--secondBackgroundColor);
    width: 50px;
    transform: skew(154deg);
}
.lower > a {
    margin-right: 15px;
    color: var(--mainColor);
}

/* ------------------------------------------------------------------------
--------------------------Skills                       [Start]
--------------------------------------------------------------------------- */
.skills{justify-content: space-between;}
.skills > img {
    max-width: 50%;
    height: auto;
}
.skills ul {
    width: 50%;
    gap: 20px;
}
.skills > ul li {
    display: grid;
    grid-auto-rows: 1fr 29px;
    position: relative;
    width: 100%;
}
.skills span {
    position: absolute;
    right: 0;
    top: -5%;
    padding: 0px 8px;
    border: solid 1px #d8cccc;
    border-radius: 5px;
    font-size: 0.75rem;
    color: var(--mainColor);
}
.progressBar::before {
    content: "";
    position: absolute;
    height: 44%;
    background-color: var(--secondBackgroundColor);
    width: 100%;
    z-index: -1;
}
.progressBar {
    width: 70%;
    background-color: var(--mainColor);
    height: 100%;
}
.skills h4 {
    font-size: 1.25rem;
    font-weight: 700;
    position: relative;
    top: -20%;
}
@media screen and (max-width: 990px) {
    .skills > img{display: none;}
    .skills ul {width: 100%;}
}
/* ------------------------------------------------------------------------
--------------------------How It Work                       [Start]
--------------------------------------------------------------------------- */
#how{padding-bottom: 3%;}
#how > .informations{justify-content: space-between;}
#how > .informations > img{
    width: 40%;
    height: auto;
}
#how .rightSection{
    flex-basis: 48%;
    gap: 25px;
}
#how .info{
    width: 100%;
    height: fit-content;
    padding: 30px 25px;
    border: 1px solid var(--backgroundColor);
    background-color: var(--backgroundColor);
    gap: 30px;
}
#how .info::before{
    content: "";
    position: absolute;
    height: 0%;
    width: 0%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #cdcdcd;
    opacity: 0.3;
    transition: 0.3s;
}
#how .info:hover::before{
    height: 100%;
    width: 100%;
}
#how .info img{
    width: 75px;
    height: auto;
}
#how .info .textArea{align-items: baseline;}
#how h3{
    font-size: 1.625rem;
    font-weight: 700;
}
#how p{font-size: 1rem;}
@media screen and (max-width: 1000px) {
    #how > .informations{
        flex-direction: column;
        gap: 30px;
    }
    #how > .informations > img{width: 60%;}
}
/* ------------------------------------------------------------------------
--------------------------Events                       [Start]
--------------------------------------------------------------------------- */
.eventDetails{
    justify-content: space-between;
    margin-bottom: 3%;
}
.eventDetails > img{
    width: 48%;
    height: auto;
    transform: scale(0.8);
}
.eventDetails >  .textArea{width: 50%;}
.eventTimer {
    width: 65%;
    column-gap: 20px;
    margin-bottom: 5%;
}
.eventTimer > div{
    border: solid 1px #d9d9d9;
    border-radius: 7px;
    transition: 0.3s;
}
.eventTimer > div:hover{border-color: #2196f3;}
.eventTimer > div > span{
    color: #2196f3;
    font-weight: 700;
    font-size: 2rem;
    padding: 6px 16px;
}
.eventTimer > div > h5{
    width: 100%;
    border-top: solid 1px #959494;
    padding: 7px;
    text-align: center;
    font-weight: 600;
}
#events h3{
    font-size: 2.25rem;
    font-weight: 700;
    text-align: center;
}
#events p{
    color: #333;
    font-size: 1rem;
    text-align: center;
}
#events .form{
    width: 60%;
    background-color: #f6f5f5;
    padding: 20px 30px;
    border-radius: 80px;
    justify-content: space-between;
}
#events .form input{
    border: none;
    border-radius: 80px;
    width: 70%;
    padding: 22px 12px;
}
#events .form input::placeholder {font-size: 1rem}
#events .form button{
    border: none;
    background-color: #2196f3;
    color: var(--backgroundColor);
    font-weight: 700;
    font-size: 1.25rem;
    padding: 25px 17px;
    border-radius: 80px;
    cursor: pointer;
}
@media screen and (max-width: 990px) {
    .eventDetails > img{display: none;}
    #events .form{width: 80%;}
    .eventDetails >  .textArea{
        width: 100%;
        margin-bottom: 7%;
    }
}
@media screen and (max-width: 780px) {
    #events .form{
        flex-direction: column;
        gap: 25px;
        border-radius: 10px;
    }
    #events .form input{
        width: 100%;
        border-radius: 7px;
    }
    #events .form button{
        width: 100%;
        border-radius: 7px;
    }
}

/* ------------------------------------------------------------------------
--------------------------pricing Plans                       [Start]
--------------------------------------------------------------------------- */
#plans >  .plans{
    gap: 35px;
}
.plan{
    padding: 20px 0px 40px;
    box-shadow: 0px 0px 24px -18px;
    background-color: var(--backgroundColor);
}
.plan:nth-child(2){transform: translateY(-15px);}
.plan::before{
    content: "";
    position: absolute;
    height: 50%;
    width: 0%;
    top: 0;
    left: 0;
    background-color: #333;
    opacity: 0.10;
    transition: 0.3s;
}
.plan::after{
    content: "";
    position: absolute;
    height: 50%;
    width: 0%;
    bottom: 0;
    right: 0;
    background-color: #333;
    opacity: 0.10;
    transition: 0.3s;
}
.plan:hover::after, .plan:hover::before{width: 100%;}
#plans h1{
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 1.875rem;
}
#plans i{
    font-size: 6.25rem;
    font-weight: 500;
    margin: 17px 0px 10px;
}
#plans h1.hugeNumber{
    font-size: 3.75rem;
    color: var(--mainColor);
    height: 90px;
}
h2.hugeNumber{
    color: rgb(105, 105, 105);
    font-size: 1.125rem;
    font-weight: 500;
}
.planFeatures{
    width: 100%;
    margin-top: 30px;
}
.planFeatures li{
    width: 100%;
    padding: 12px 45px;
    border-top: solid 1px rgb(220, 220, 220);
    position: relative;
    text-transform: capitalize;
}
.planFeatures li::before{
    content: "-";
    position: absolute;
    color: var(--mainColor);
    font-size: 2.5rem;
    left: 14px;
    top: -23%;
}
.plan > button{
    background-color: transparent;
    border: none;
    border: solid 2px var(--mainColor);
    padding: 12px 20px;
    color: var(--mainColor);
    font-size: 1.125rem;
    border-radius: 5px;
    margin-top: 40px;
    cursor: pointer;
    transition: 0.7s;
    font-weight: 600;
    z-index: 2;
}
.plan > button:hover{
    background-color: var(--mainColor);
    color: var(--backgroundColor);
}
#ozel{
    position: absolute;
    text-transform: capitalize;
    color: var(--backgroundColor);
    background-color: var(--mainColor);
    font-weight: 700;
    font-size: 1.25rem;
    top: 6%;
    right: -7%;
    rotate: 90deg;
    padding: 2px 9px;
    z-index: -1;
}
#ozel::after{
    content: "";
    position: absolute;
    width: 0px;
    height: 3%;
    border: solid 20px ;
    right: -15%;
    top: 0;
    border-color: var(--mainColor) transparent var(--mainColor) transparent;
}
@media screen and (max-width: 1200px) {
    .plan:nth-child(2){transform: translateY(0px);}
}

/* ------------------------------------------------------------------------
--------------------------Top Videos                      [Start]
--------------------------------------------------------------------------- */
#player{grid-template-columns: 25% 75%;}
.videoSuggections{background-color: var(--secondBackgroundColor);}
.videoSuggections > div{
    justify-content: space-between;
    padding: 15px;
    width: 100%;
    background-color: var(--secondBackgroundColor);
}
.videoSuggections > div i{
    color: var(--thirdBackgroundColor);
    font-size: 1.125rem;
}
.videoSuggections > div i:hover{
    color: var(--mainColor);
    cursor: pointer;
}
.videoSugg{
    gap: 1px;
    padding: 1px;
    width: 100%;
}
.videoSugg > li{
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: var(--backgroundColor);
    width: 100%;
    transition: 0.5s;
    cursor: pointer;
}
.videoSugg > li:hover{
    color: var(--mainColor);
    background-color: #faf7f7;
}
.videoSugg > li p{text-transform: capitalize;}
.videoSugg > li p + h3{
    color: #888888;
    font-size: 1rem;
    font-weight: 400;
}
.videoPlayerSection{
    justify-content: space-between;
    padding: 10px;
    background-color: var(--secondBackgroundColor);
}
.videoPlayerSection img{width: 100%;}
.videoPlayerSection p{
    padding: 15px;
    background-color: var(--backgroundColor);
    text-transform: capitalize;
    width: 100%;
}
@media screen and (max-width: 1200px) {#player{grid-template-columns: 30% 70%;}}
@media screen and (max-width: 990px) {#player{grid-template-columns: 1fr;}}

/* ------------------------------------------------------------------------
--------------------------States                       [Start]
--------------------------------------------------------------------------- */
#stats{
    padding-bottom: 10%;
    margin-bottom: 0px;
}
#stats > h1{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.stats {
    gap: 20px;
    flex-wrap: wrap;
}
.stats > div{
    position: relative;
    min-width: 270px;
    height: 190px;
    padding: 35px;
    background-color: var(--backgroundColor);
}
.stats > div::before{
    content: "";
    position: absolute;
    height: 0%;
    width: 3px;
    left: 0;
    bottom: 0;
    background-color: var(--mainColor);
    transition: 1s;
}
.stats > div::after{
    content: "";
    position: absolute;
    height: 0%;
    width: 3px;
    right: 0;
    top: 0;
    background-color: var(--mainColor);
    transition: 1s;
}
.stats > div:hover::before, .stats > div:hover::after{height: 100%;} 
.stats > div i{
    font-size: 2rem;
    color: var(--thirdBackgroundColor);
}
.stats > div h1{
    font-size: 3.44rem;
    height: 65%;
}
.stats > div h2{
    color: var(--mainColor);
    font-size: 1.25rem;
    font-style: italic;
}
@media screen and (max-width: 622px) {.stats > div{width: 100%;}}
/* ------------------------------------------------------------------------
--------------------------Discount                       [Start]
--------------------------------------------------------------------------- */
#discount{
    flex-direction: row;
    width: 100%;
    padding-top: 7%;
    align-items: baseline;
    z-index: 0;
    background-color: var(--backgroundColor);
}
#discount .rightSection, #discount .leftSection{flex-basis: 50%;}
#discount h1{
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: -1px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}
#discount p{
    font-size: 1.125rem;
    width: 100%;
    text-align: center;
    margin-bottom: 90px;
}
#discount form{gap: 20px;}
#discount img {
    width: auto;
    height: 300px;
}
#discount input, #discount textarea{
    border: none;
    background-color: #f9f9f9;
    padding: 10px 18px;
    width: 330px;
    height: 65px;
    border-bottom: solid 1px #b2b2b2;
    font-size: 1.125rem;
    font-weight: 500;
}
#discount form textarea{height: 300px;}
#discount input::placeholder, #discount textarea::placeholder{
    font-size: 1rem;
    font-weight: 500;
    color: #767676;
}
#discount form input:nth-last-child(2)::placeholder{text-align: center;}
#discount button{
    border: none;
    background-color: var(--mainColor);
    font-weight: 600;
    font-size: 1.375rem;
    width: 330px;
    height: 65px;
    padding: 10px 18px;
    color: var(--backgroundColor);
}
#discount .leftSection{
    color: var(--backgroundColor);
    align-items: center;
    padding-right: 13%;
}
#discount::before{
    content: "";
    position: absolute;
    height: 110%;
    width: 100%;
    background-color: var(--mainColor);
    z-index: -7;
    left: -50%;
    top: 0;
}
#discount .rightSection{
    transform: translateX(6vw);
    background-color: var(--backgroundColor);
    margin: 0 auto;
}
@media screen and (max-width: 990px) {
    #discount{
        flex-direction: column;
        justify-content: center;
    }
    #discount::before{
        height: 47%;
        width: 110vw;
        left: -21%;
    }
    #discount .leftSection {
        align-items: center;
        margin-bottom: 7%;
        padding-right: 0px;
    }
    #discount .rightSection{transform: unset;}
    #discount p{transform: none;}
}
@media screen and (max-width: 500px) {
    #discount .leftSection {
        padding-bottom: 10%;
    }
}
@media screen and (max-width: 990px) {#discount::before{left: -20%;}}
@media screen and (max-width: 840px) {#discount::before{left: -14%;}}

/* ------------------------------------------------------------------------
--------------------------Footer                       [Start]
--------------------------------------------------------------------------- */
body footer{
    background-color: #191919;
    gap: 50px 15px;
    gap: 50px 7%;
    color: #797979;
    flex-direction: row;
    z-index: 1;
    padding-top: 80px;
    padding-bottom: 40px;
    flex-wrap: wrap;
}
footer::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 115vw;
    background-color: #191919;
    z-index: -1;
    left: -15vw;
    top: 0;
}
footer > div , footer >  ul{
    width: 220px;
    flex-grow: 1;
}
footer h4{color: #767676;}
footer .soical h1{
    font-size: 2.125rem;
    font-weight: 780;
    color: var(--backgroundColor);
}
footer .soical{
    align-items: baseline;
    gap: 15px;
}
.soicalIcons{
    gap: 10px;
    justify-content: flex-start;
}
.soicalIcons > div{
    padding: 15px 15px;
    background-color: #313131;
    width: 55px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 0.6s;
}
[data-soical="facebook"]:hover{background-color: #1877f2;}
[data-soical="twitter"]:hover{background-color: #1da1f2;}
[data-soical="youtube"]:hover{background-color: #ff0000;}
.soicalIcons  i{
    font-size: 1.25rem;
    text-align: center;
    color: #b9b9b9;
}
.links{
    gap: 1px;
    background-color: #76767666;
}
.links li {
    width: 100%;
    background-color: #191919;
    align-items: baseline;
    padding: 7px 0px;
}
.links li > *{transition: 0.7s;}
.links li:hover h4{transition: 0.5s;}
.links li:hover > *{transform: translateX(15px);}
.links li:hover h4{color: var(--backgroundColor);}
.links i{font-size: 1rem;}
footer ul li{
    display: flex;
    gap: 10px;
}
footer ul i{
    font: 16px;
    color: var(--mainColor);
}
.contact {gap: 15px;}
.contact li {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.contact i {
    font-size: 1.625rem;
    margin-right: 7px;
}
footer .photos {
    flex-wrap: wrap;
    gap: 10px;
}
footer .photos img{
    height: 70px;
    width: 70px;
    border: solid 3px var(--backgroundColor);
}
@media screen and (max-width: 570px) {
    body footer{flex-direction: column;}
    footer > div , footer >  ul{
        width: 100%;
        text-align: center;
    }
    footer .soical{align-items: center;}
    .links li{justify-content: center;}
    .contact li{
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
    footer .photos {justify-content: center;}
}
.copyright {
    background-color: #191919;
    color: var(--backgroundColor);
    padding: 7px;
    text-transform: capitalize;
}
/* 1995 row after finishing from all section */
/* 1910 row after delete unused code */
/* 1951 with write more code */
/* 1795 with clean and use classes for repeated propeties */
/* 1799 fixing some bug */
/* 1761 with add some Comments and delete empty rows */
/* 1486 with shorted some rules to one row*/
/* 1481 with auto-fill grid classes */
/* 1520 with adding some feature and fix things */
/* 1477 End */