

html{
    font-family: 'Amiri', serif;


}

h3{
    font-size: 1.5rem;
}

.Prayer1{
    transform: translate(20%,7%);
}
.EnvelopeFront{
    row-gap: 0px;
}

@media screen and (max-width: 1000px) {
    .Prayer1{
        transform: translate(-1%,88%);
    }
}