:root{
    --dark-color: #19283f;
    --green-color: #33d1cc;
    --red-color: #ff3150;
    --yellow-color: #ffc400;
    --white-color: #eff7fa;
    --white: white;
    --var-width: calc(100% - 1.8rem - 9.6px);
    --var-height: calc(100% - 1.2rem - 9.6px);
    --var-topPosition: calc(0.6rem + 4.8px);
    --var-leftPosition : calc(0.9rem + 4.8px);
}

body{ 
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    /* font-size: 16px; */
}
@media screen and (max-width: 400px) {
    body{
        font-size: 13px;
    }
}
ul{
    list-style: none;
    padding-left: 0px;
}
input:focus{
    outline: none;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.navbar {
    background-color: var(--dark-color);
}

.nav-link{
    color: var(--white);
}
.navbar .nav-link.active, .navbar .nav-link:hover{
    color: var(--green-color) ;
}
.btn{
    text-transform: uppercase;
    color: var(--yellow-color);
    background-color: var(--red-color);
}
.btn:hover{
    color: var(--yellow-color)!important;
    background-color: var(--red-color) !important;
}

.fa-magnifying-glass  {
/* svg { */
    border-left: 1px var(--green-color) solid;
    color: var(--green-color);
}

.navbar-toggler{
    color: white;
    border: solid var(--green-color) 1px;
}


.landing{
    background-color: var(--dark-color);
    min-height: calc(100vh - 70px);
    color: var(--white);
}


.title-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.title-section::after{
    content: "";
    width: 8vw;
    height: 2px;
    background-color: var(--green-color);
}
@media screen and (max-width: 600px) {
    .title-section::after{
        width: 25vw;
    }
}
.title-section img{
    width: max-content;
    margin: 20px 0px;
}
.title-section h3{
    font-size: 32px;
}
.title-section p{
    opacity: 0.5;
    text-transform: uppercase;
}


.title-text{
    margin: 0.5rem 0px;
    text-transform: uppercase;
    color: var(--yellow-color);
    font-size: 24px;
}

.feature svg.f-icon{
    color: var(--green-color);
    position: absolute;
    font-size: 60px;
    top: 37%;
}

.feature > svg.f-number{
    font-size: 200px;
    color: var(--green-color);
    position: relative;
    z-index: -1;
    opacity: 0.1;
}
.feature{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature p{
    margin-top: 0.5rem;
    text-align: center;
    opacity: 0.75;
}



.our-work{
    background-color: var(--white-color);
}
.our-work  .active{
    color: var(--yellow-color);
    background-color: var(--red-color);
}

.works-menu li{
    position: relative;
    padding: 0.6rem 0.9rem;
}
.works-menu .works-img li{
    overflow: hidden;
}
.works-menu .works-img  li:hover{
    color: var(--red-color);
    cursor: pointer;
}
.works-menu .works-img  li::before{
    content: "Appliction";
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    /* width calculate by = total width of parent holder - (padding left + padding right) - (total border for left and right) */
    width: var(--var-width);
    /* width: calc(100% - 1.8rem - 9.6px); */
    /* width calculate by = total height of parent holder - (padding up + padding bottom) - (total border for top and bottom) */
    height: var(--var-height);
    /* needed to make the pesudo element out the parent holder */
    left: calc( -1 * (var(--var-width)));
    /* adjust in y-axis and make ensure the element inside the img */
    top: var(--var-topPosition);
    /* the opacity just happen in color and the text is normal */
    background-color: rgba(51, 209, 204, 0.5);


    animation-name: moveout;
    animation-duration: 0.2s;
}
.works-menu .works-img  li:hover::before{
    animation-name: move;
    animation-duration: 0.6s;
    left: var(--var-leftPosition);

}

@keyframes move {
    from {left: calc( -1 * (var(--var-width)));}
    to {left: var(--var-leftPosition);}
}
@keyframes moveout {
    from {left: var(--var-leftPosition);}
    to {left: calc( -1 * (var(--var-width)));}
}
.works-menu h6{
    margin: 0;
}

.stuff-left > p{
    opacity: 0.7;
}


.teams{
    background-color: var(--white-color);
}

.teams-upperText h1{
    color: var(--yellow-color);
}

.bg-primary{
    background-color: var(--green-color) !important;
    /*  */
}


.project{
    background-color: var(--dark-color);
}

.subscribe{
    background-color: var(--yellow-color);
}
.subscribe  button.btn{
    background-color: var(--dark-color);
}


footer{
    background-color: var(--dark-color);
}
footer h4{
    margin-bottom: 0.75rem;
    font-size: 1.25rem;
    color: var(--white-color);
}
footer h5{
    font-size: 1rem;
}
.primaryColor{
    color: var(--green-color);
}
.secondryColor{
    color: var(--yellow-color);
}


.footer-contactUs button{
    width: 100%;
}